[2016-09-18 15:33] delvedor opened #5 "Pattern and Additional properties"
Below the proposal to how implement pattern and additional properties.

#### patternProperties:
Must be an object, where the key is a valid regex and the value is an object.
Example:
[code]
`patternProperties` will work only for the properties that are not explicitly listed in the properties object.

#### additionalProperties:
Must be a boolean or an object.
If the is setted to false and there are

[2016-09-19 08:19] mcollina commented on #5
Use http://npm.im/fast-safe-stringify to stringify the property, we can even be gentle and not have a strong type check for now, we can add that later (maybe).

[2016-09-19 12:02] delvedor commented on #5
Ok but we should stringify it as is or as the pattern/additional property says?

Example:
*schema*
[code]
*object to stringify*
[code]
The result will be
[code]

[2016-09-19 12:12] mcollina commented on #5
We should try to coerce and serialize. If not possible, throw.
Il giorno lun 19 set 2016 alle 14:02 Tomas Della Vedova <
notifications@github.com> ha scritto:

[2016-09-20 20:12] delvedor commented on #5
Edge case:
Schema:
[code]
if the user tries to stringify `objfoo: {a: true}`what we should do?
1) Stringify as `[object Object]`
2) Stringify with `fast-safe-stringify`
3) throw

I think the best option is the first one, because the user must know what is passing to `fast-json-stringify`, and if he sets a patternProperty, he's expecting the all the matching property have a specific type.
Furthermo

[2016-09-20 21:18] mcollina commented on #5
IMHO `[object Object]` sounds good. In fact, I would call `toString()` on it to coerce.

[code]

[2016-09-22 12:25] mcollina opened #6 "flatstr the result"
http://npm.im/flatstr

[2016-09-27 17:15] mcollina opened #8 "split test into multiple files"
as titled. A good examples are the one on http://github.com/mcollina/pino

[2016-09-28 07:46] delvedor opened #9 "Stringify a Date as number instead of string."
I did this bench, and the result is remarkable.
[code]
Result:
[code]
Should we move from `.toISOString()` to `.getTime()`?

[2016-09-28 08:19] mcollina commented on #9
No, that would be a violation of the JSON specification. We represent dates as string. Converting them to integers in the schema would be up to the user.

We should document all of this in the README.

BTW, this is why we use `Date.now()` in pino: https://github.com/mcollina/pino/pull/5.

[2016-09-28 08:26] #9 closed

[2016-09-28 09:20] delvedor commented on #6
Need to go in deep with this.
Maybe in the future.

[2016-09-28 09:20] #6 closed

[2016-09-29 07:56] #8 closed

[2016-10-03 08:54] delvedor commented on #5
If `additionalProperties` is setted to *false* and there's a property that does not match to `properties` and `patternProperties`, what behavior we want to adopt?
We can throw an error or "discard" the property when is time to stringify it.

I think is better to "discard" the property, but I'm not sure about this because the documentation is very unclear.

Documentation:
- [json-schema](http://jso

[2016-10-03 10:14] mcollina commented on #5
@delvedor yes, discard the property. It should behave like a "filter".

[2016-10-04 19:35] delvedor commented on #5
Both successfully implemented, closing.

[2016-10-04 19:35] #5 closed

[2016-10-21 13:43] mcollina opened #13 "Correctly escape JSON strings"
See https://github.com/mcollina/pino/pull/113 and https://github.com/mcollina/pino/pull/112.

[2016-10-21 23:43] mcollina opened #15 "Regression when stringifying arrays"
the array case in the benchmarks has become slower than `JSON.stringify`.

[2016-11-26 23:03] #13 closed

[2017-01-05 14:44] delvedor opened #17 "General regression"
After some test I saw a general regression in the benchmarks.
Both in Node v4 and v6.

The bench:
[code]

I'll do more test.
Related: https://github.com/fastify/fastify/issues/34

[2017-01-06 11:29] mcollina commented on #17
The cultprit is 1a63b7c1ff8b065da5f37f18d3440e0e92b97a31

[2017-01-07 09:15] #17 closed

[2017-04-09 12:38] delvedor opened #23 "Improve string serialization?"
Hello @addaleax!
Me and @mcollina are working on this project, Fastify a web framework focused on performances and other very nice stuff :)
Part of the project is this module, that as you can easily image is a *schema based json serializator*.

I saw your talk at NodeConfBarcellona where you talked about character encoding.
We had some little trouble with that and our solution was [this one](https

[2017-04-09 15:05] addaleax commented on #23
Hi! The code looks fine to me … is there anything specific you were having trouble with?

(One small thing I just noticed: You could drop the `+ str[i]` bit in L107 and then set `last = i` instead of `last = i  +1`, right?)

[2017-04-11 10:17] delvedor commented on #23
Maybe I'm not getting your suggestion, the idea with that for cycle is that if we find a special character, such as a `\n`, we escape it by adding a `\`. But since javascript sees `\n` as a single character we add it with `str[i]`, so the result will be `\\n`.

If I remember correctly, in your talk you said to avoid the use of `charCodeAt`. So I was asking to myself if there is a better solution.

[2017-04-11 10:28] addaleax commented on #23
So, maybe *I* am misunderstanding something, but the code doesn’t quite seem to work that way – `'\\' + '\n' === '\\\n'`, not `'\\' + '\n' === '\\n'`? If you want to escape characters like `\n`, you’ll need to know how to look up that `\n` decomposes as `\` + `n` in some way.

Currently, you only check for `"` and `\\`, right? (`point === 34 || point === 92`) For those the situation is simpler tha

[2017-04-11 10:37] delvedor commented on #23
Not exactly, I write `\\` because I must escape the single `\` as well, but the result if you checkout the resulting string will be `\\n` (It got me some headache :P).

Yes, we are using that two codes because are the most common used, so we have this "fast case".
The problem arrives when you must escape characters like `\u0008`.
Some of the discussion has been done [here](https://github.com/pinoj

[2017-04-11 10:46] addaleax commented on #23
Ah, right, I forgot the bailout for `point < 32`. Nevermind my `\n` comments then. ;)

I still think it makes sense to do
[code]

For " and \ that should yield the correct result and require less concatentations.

[2017-04-12 15:37] delvedor opened #24 "Nested additionalProperties throw at runtime"
As titled, test to reproduce:
[code]
The output:
[code]

[2017-04-12 15:39] delvedor opened #25 "Properties should be optional"
If you pass just the `additionalProperties` and not the `properties`, `fast-json-stringify` will throw.
`properties` should be optional.

Here the [line](https://github.com/fastify/fast-json-stringify/blob/master/index.js#L267) that must be changed.

[2017-04-12 16:29] delvedor commented on #24
I found that the above issue is related to, and is very easy to solve, already done it.
The real issue that was nehind of this, is the following:
[code]
The above code, with
[code]
will throw the following error
[code]

I'll continue to investigate and update here when I'll have more results.

[2017-04-13 20:02] delvedor commented on #23
Hey, sorry for the delay!
I'll try your suggestion as soon as I can, unfortunately (or not?) I found a bug that I must solve :P
Thanks!

[2017-04-13 20:36] delvedor commented on #24
Found it, the problem is [here](https://github.com/fastify/fast-json-stringify/blob/master/index.js#L14), if properties is `undefined` the lib will not work. It's an easy fix, so will land the pr.

@mcollina we should think about a refactor of this library, maybe use template strings e find a way to log better error messages :)

[2017-04-14 07:57] #24 closed

[2017-04-14 08:00] delvedor commented on #25
Closed by #26

[2017-04-14 08:00] #25 closed

[2017-04-20 22:42] rochdev opened #28 "Support for long integers"
Support for 64bit integers as numbers instead of strings would be very useful. The use case being 3rd-party APIs that enforce it.

From my understanding, the `$asNumber` function could simply not convert the input to a `Number` and it would pretty much work as it (since the source long would be a string anyway). However, I don't know if that would introduce a backward compatibility issue.

Alterna

[2017-04-25 02:54] brwnll opened #29 "Use with multiple types"
I'm using this in conjunction with Fastify, and am trying to pass back some SQL results. Many of the fields can be null, or contain a value.

I haven't figured out a way to use this and say that a value, for example `deletedAt` is a string, but may also be null.

Is that possible?

[2017-04-27 08:13] delvedor commented on #29
Hi, thank you for using our modules :)
Currently is not possible, we must think about a solution without break the JSON Schema specification.

[2017-04-27 08:23] delvedor commented on #28
As far as I know 64 bit integers are a kind of PITA in javascript, since js uses the [IEEE-754](https://en.wikipedia.org/wiki/IEEE_floating_point#IEEE_754-2008) specification and does not have enough  digits to represent a 64 bit integer.
I think we must discuss about this and figure out if we can (and how) solve this issue.

Refs:
http://json-schema.org/latest/json-schema-core.html#rfc.section.5.

[2017-04-27 10:37] rochdev commented on #28
After thinking on this a bit more, I think supporting the `Long` type from [long.js](https://github.com/dcodeIO/long.js) would be the way to go.

It would be the easiest way to implement longs, and very fast too since `Long.isLong()` only does an equality check. It is also what [protobuf.js](https://github.com/dcodeIO/protobuf.js) is using, so it would be great for interoperability.

I'll send a P

[2017-04-30 22:57] AutoSponge opened #32 "Stream Support?"
Are there plans to support streams or is there already an example?

For instance, a large collection of schema objects sent to the client in chunks.

[2017-05-01 09:29] mcollina commented on #32
@AutoSponge that would be handy, but it will change the logic heavily. Supporting streams means that we need to support backpressure, otherwise it is somewhat useless. In order to support backpressure, we need to generate the object in chunks, and to maintain a state of the object while we are doing that.

I think it's **extremely complicated**, and probably very expensive.

If you would like to l

[2017-05-01 09:29] #32 closed

[2017-05-01 20:13] AutoSponge commented on #32
This is what I came up with, not sure if it's naive:

[code]

[2017-05-01 20:16] mcollina commented on #32
That won't work as you expect. It will generate all the chunks and add them for sending. You will be allocating the same amount of memory, and adding the stream overhead.

[2017-05-01 20:37] AutoSponge commented on #32
I appreciate the quick reply, but I'm not sure I understand the issue. If it's the backpressure/flushing issues with `.write`, then adding the callback to `.write` should take that away (see below). But if it's something else, I'm not sure how to observe it.

[code]

[2017-05-02 13:08] mcollina commented on #32
You can completely avoid the through stream, because it's jut adding overhead. You are not listening to any of the backpressure event. BTW, you should use through2, and read https://nodejs.org/en/docs/guides/backpressuring-in-streams/.

In your example, you should reuse the fastJson instance, otherwise it will be very very slow.

[2017-05-02 14:18] #28 closed

[2017-05-19 11:12] SimenB opened #33 "Handle object property starting with `@`"
We have a logging contract which says timestamp should be called `@timstamp` and version should be `@version`. This module throws when it tries to serialise it (on node@6 at least).

Example:

[code]

[code]

[2017-05-20 11:15] SimenB commented on #24
@delvedor I don't understand the solution here. You're example in the OP still throws.

I would like to do the exact same thing (serialise all keys of a nested object), but I'm unable to make it work. Do I have to use an array wrapper?

[2017-05-21 10:14] #33 closed

[2017-07-05 16:31] mcollina commented on #23
I think this can be closed, as the referenced PR has been merged.

[2017-07-05 16:31] #23 closed

[2017-07-05 16:34] #15 closed

[2017-07-23 15:40] greenkeeper[bot] opened #39 "An in-range update of uglify-es is breaking the build 🚨"
## Version **3.0.26** of [uglify-es](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fast-json-stringify/compare/greenkeeper%2Fuglify-es-3.0.26">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-es
    </td>
  </tr>
  <tr>
    <th alig

[2017-07-30 12:36] #39 closed

[2017-08-07 14:38] delvedor opened #40 "Throw if toString is not present"
Example:
[code]

What we want to do in the above case?
- `'null'`
- `''`

Other options?

[2017-08-07 15:28] mcollina commented on #40
I think we should handle `null` and `undefined` better. It think they should both be `''`.

[2017-08-11 08:13] delvedor commented on #40
Closed by #41

[2017-08-11 08:13] #40 closed

[2017-08-30 12:38] Martin-Pitt commented on #29
`"type": ["null", "string"]`

Per http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.25

Yep?

[2017-08-30 12:56] mcollina commented on #29
@Martin-Pitt would you like to send a PR?

[2017-09-18 13:04] benderTheCrime opened #44 "Weird issue with 0.13.0: multiple tuple item type support"
In an ill advised effort to use the new multitype tuple feature to allow any type in an object in any position of an Array, I think I've uncovered a weird bug:

here is my schema for an Array property "args":

[code]

and then here is my object:

[code]

This is the result:

[code]

I was just attempting to use this for which it wasn't intended, but at the same time, this returns an invalid JSON s

[2017-09-18 13:05] benderTheCrime commented on #44
tagging @elliotttf @delvedor

[2017-09-18 13:12] mcollina commented on #44
You have a bug in your schema too. You are passing a string as the first object, while it's defined as `type: 'object'`. I don't think that's a problem, but rather on how we support `patternProperties`. Can you check without them if it works as expected?

[2017-09-18 13:14] benderTheCrime commented on #44
Just to confirm, you want to see if the Object:

[code]

prints out a valid JSON string?

[2017-09-18 13:15] benderTheCrime commented on #44
Here is the result if that is the case:

[code]

[2017-09-18 13:17] mcollina commented on #44
There are a few bugs:

* [ ] we are missing commas if an object with `patternProperties` is passed in
* [ ] we are missing `{}`  if a string is passed and we expect an object

[2017-09-18 13:17] mcollina commented on #44
@benderTheCrime @elliotttf would any of you send a PR?

[2017-09-18 13:21] benderTheCrime opened #45 "Loose Object property checking support"
Co-related to my issue raised here:
https://github.com/fastify/fast-json-stringify/issues/44

I have a use case to just have a loose object inside of a well-defined schema.

I suppose this issue would satisfy this use case as well:
https://github.com/fastify/fast-json-stringify/issues/29

because then I could just specify the Object had a pattern property of ".*" with types `['string', 'number', '

[2017-09-18 13:24] benderTheCrime commented on #44
@mcollina I think there's also the issue with many args getting created with the type of the patternProperty being created when only one item existed in the given Array.

[2017-09-18 13:24] elliotttf commented on #44
I think this might be part of the problem (and wasn't immediately obvious to me when I was working on this either).

In order for the tuple to be valid you must match the types and the order or members of your array.

But yes it shouldn't be returning invalid json. I can work on a fix later today.

[2017-09-18 13:25] benderTheCrime commented on #29
@Martin-Pitt @brwnll any update here? This would be a very useful addition for me as I've stated in https://github.com/fastify/fast-json-stringify/issues/45

[2017-09-18 13:28] benderTheCrime commented on #44
right, @elliotttf, so what I would actually expect in that case, if the first Object in the items type Array was:

[code]

Given the "args":

[code]

That only the "bar" property would be be returned, or:

[code]

To be clear, I'm not trying to validate the way I was attempting to use it ( 😓 ), just raising an issue.

[2017-09-18 13:42] benderTheCrime commented on #29
Or @mcollina / @delvedor could you give me some insights into where would be a good place to start looking for where I should make this change, or a CONTRIBUTING.md to refer to?

[2017-09-18 14:51] benderTheCrime commented on #29
I did a quick pass here and I'm not sure how this would even best be accomplished for all types within the scope of the "builder."

The problem is that when `new Function` is called on the type coersion functions, you have all the types, but by the time the actual function is called to actually perform the coersion, you've supposedly already pushed the key onto the stack.

[2017-09-18 15:53] benderTheCrime commented on #29
Here is a rough first cut of this: https://github.com/benderTheCrime/fast-json-stringify/pull/1

[2017-09-19 06:58] mcollina commented on #29
@benderTheCrime let us know when you are ready to open a PR against this repository. That would be the preferred approach if you need our feedback, because we can easily check if it passes CI.

The best approach would be to start writing unit tests before touching the code.

[2017-09-19 07:00] mcollina commented on #45
My only problem with multiple typing is that if we could implement it in a way that is *fast*. There might be a point of diminishing return with this approach, and I would not like to trade features for throughput.

[2017-09-19 11:13] benderTheCrime commented on #29
@mcollina I was just looking for the acknowledgement on the garbage pass I posted that this would be an acceptable approach to adding multiple type support as I'm not going to invest a lot more time into this approach if I don't have any affirmation it's ever be in a good enough state to merge:

https://github.com/fastify/fast-json-stringify/issues/45#issuecomment-330448342.

Likely, no matter how

[2017-09-19 11:15] mcollina commented on #29
You can add `additionalProperties: true` to that object, and every other additional properties will be added using `JSON.stringify`. That might solve your problem.

[2017-09-19 11:16] mcollina commented on #29
Yes it's `JSON.stringify`.

[2017-09-19 11:34] benderTheCrime commented on #29
@mcollina, I missed "additionalProperties," I'm going to give that a shot! Thanks!

Likely, this is going to severely impact the performance profile for anyone who abuses the ability to pass objects of arbitrary depth along with these additional fields (the more JSON has to be natively `stringify`-ed...). Nevertheless, I'm going to benchmark this approach and (if you're interested) get back to you

[2017-09-19 13:19] #44 closed

[2017-09-19 13:32] mcollina commented on #29
@benderTheCrime let us know how it goes!

[2017-09-20 02:25] benderTheCrime commented on #29
"additionalProperties" works well for me, and still has a pretty solid performance profile to boot!

[2017-09-20 02:27] benderTheCrime commented on #45
In terms of "loose checking" specifically, I think "additionalProperties" covers the use case by just letting JSON.stringify deal with it if you can't explicitly declare the type.

[2017-09-20 02:27] #45 closed

[2017-09-20 09:17] mcollina commented on #29
@benderTheCrime awesome!

[2017-09-21 18:16] MauroJr opened #48 "fast-json-stringify in LevelDB"
Is it a good idea to use this module to create a module for `valueEncoding` in LevelDB?

[2017-09-21 18:35] mcollina commented on #48
Definitely! However you need to know what type of data you want to store! It would be awesome to have a module that does that!

[2017-09-27 11:38] JbIPS commented on #29
Hi, I was wondering if this issue is definitely closed or not? I'm struggling with multiples types and I'm not very willing to let any additional properties in my schema but rather let choose between multiple.

I tried the `{type: ["type1", "type2"]}` and the `anyOf` but none worked as planned. Is it a performance issue? Thank you

[2017-09-27 11:42] mcollina commented on #29
I fear it's just a bug on the current code. It would be good if you could open a separate issue with the specific problems you are facing (with examples and expected output), so that we can tackle them.. or maybe you want to send a PR :).

[2017-09-27 14:21] JbIPS opened #49 "AnyOf not supported"
When trying to validate against a JSON schema containing `anyOf` type, the parser throw an error.
[code]
throws `undefined unsupported`.

I'll make a PR with a failing test case so it can be clearer.

[2017-09-27 14:28] JbIPS commented on #49
I looked a bit at the code and I'm thinking of adding a `case "anyOf"` that will call the function again for each key.

What do you think?

[2017-09-27 17:21] mcollina commented on #49
Can you add a reference to the part of the JSON Schema for this?

👍 for a PR anyway.

[2017-09-28 07:51] JbIPS commented on #49
I'm sorry, do you mean the [JSON Schema spec](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.27) ?

[2017-09-28 08:01] mcollina commented on #49
Yes thanks!! a PR would be very welcome!

[2017-09-28 09:12] JbIPS commented on #49
I created #50 (and started it with failing tests) but I'm not sure how to start the implementation. My first guess was to add a case "anyOf" that will call the function again for each key.

What do you think of that?

[2017-09-28 12:32] mcollina commented on #49
go for it!

[2017-09-29 08:19] JbIPS commented on #49
Worked a bit on that yesterday and I'm a bit stuck. A achieve to catch `anyOf` properties and iterate over the children but I can't see how I could tell to 'try' each one until one pass. I though the method `$as[...]` would throw errors if the type doesn't match but they don't.

Any leads?

Thanks

[2017-09-29 09:36] mcollina commented on #49
I don’t know really. Trying multiple paths and throwing errors completely defeat the purpose of this library.

A possibility might be to use Ajv to validate all the various option, but it would be slower.

[2017-09-29 09:59] JbIPS commented on #49
If it's noted clearly that using `anyOf` cannot lead to any optimization but is supported, it could worth it, don't you think?

[2017-09-29 10:01] mcollina commented on #49
Yes definitely.

[2017-10-04 20:17] kojilab opened #51 "array type in response schema"
Moving this issue https://github.com/fastify/fastify/issues/331#issuecomment-334272155 to here

Hi,

I am playing with the framework to know if I should keep using it and this crashes the server when I npm server. Not sure why and I couldn't find anything in the docs. Thanks for your insight!
[code]

[2017-10-04 20:30] delvedor commented on #51
Hi!
We are expecting that you pass us an `items` property that describes the array elements.
I don't know if it is required by the json schema, but it is definitely required for us.
If you want to improve the performances of your serialization phase you should describe the shape of your payload, for example:

[code]

@mcollina do you think that `items` should be required?

[2017-10-04 20:31] kojilab commented on #51
Thanks a lot!!!

[2017-10-04 20:31] #51 closed

[2017-10-09 09:24] JbIPS commented on #49
I finally had some time to work on this but I'm hitting an issue: how can I use `ajv` to validate the data *inside* the generated code? I tried to require it but `require` is not defined :/

[2017-10-09 09:27] mcollina commented on #49
It should be done following this pattern: https://github.com/fastify/fast-json-stringify/blob/master/index.js#L90-L92

[2017-10-09 10:27] JbIPS commented on #49
Thank you! First draft of my implementation ready [here](https://github.com/fastify/fast-json-stringify/pull/50)

[2017-10-11 15:36] JbIPS commented on #49
Closed by #50

[2017-10-11 15:36] #49 closed

[2017-11-01 19:53] sebdeckers opened #53 "array"
I'm unable to set a response schema for an array in Fastify.

## Version

- `fastify@0.31.0`
- `fast-json-stringify@0.14.0`

## Error

[code]

## Reproducible Code

[code]

[2017-11-01 21:30] allevo commented on #53
Hi!
  and thanks for checking fastify out!
I think there's a issue in your jsonschema.
[Here](
https://spacetelescope.github.io/understanding-json-schema/reference/array.html#items)
there's described how to use `items`

[code]

Il mer 1 nov 2017, 20:53 Sebastiaan Deckers <notifications@github.com> ha
scritto:

[2017-11-02 03:15] sebdeckers commented on #53
@allevo Thank you! 🤦🏻‍♂️ I don't know what I was thinking... seems so obvious after a good night's rest.

[2017-11-02 03:15] #53 closed

[2017-11-02 08:41] mcollina opened #54 "validate the JSON schema before generating the function"
An invalid JSON schema can cause very unreadable errors while generating. We are already depending on ajv, so we might as well validate the schema before generating the function.

[2017-11-02 11:11] #54 closed

[2017-11-20 21:29] greenkeeper[bot] opened #58 "An in-range update of ajv is breaking the build 🚨"
## Version **5.4.0** of [ajv](https://github.com/epoberezkin/ajv) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fast-json-stringify/compare/greenkeeper%2Fajv-5.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      ajv
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-11-20 22:17] allevo commented on #58
CI error.

[2017-11-20 22:23] #58 closed

[2017-12-05 20:19] dougrich opened #60 "Root references require the hash"
Gist with the issue [here](https://gist.github.com/dougrich/f5dc109a6695436684e47c25f3bf6fa0)

_Node Version_: v8.0.0
_fast-json-stringify-version_: 0.15.1
_OS_: Windows 10, 64bit

References that do not have a hash cause an exception.

Good:
[code]

Bad:
[code]

Exception that is thrown looks like this:
[code]

As far as I can tell, not having the hash is valid. [example1](https://spacetelescope.

[2017-12-05 20:23] mcollina commented on #60
Good catch! Would you like to send a PR?

[2017-12-05 20:57] dougrich commented on #60
Yes, thanks!

I've sent out the PR - let me know if there's any changes you'd like to be made or additional steps beyond running tests.

[2017-12-18 13:09] greenkeeper[bot] opened #63 "An in-range update of is-my-json-valid is breaking the build 🚨"
## Version **2.17.0** of [is-my-json-valid](https://github.com/mafintosh/is-my-json-valid) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/fastify/fast-json-stringify/compare/greenkeeper%2Fis-my-json-valid-2.17.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      is-my-json-valid
    </

[2017-12-19 13:41] keldorus opened #64 "Is allOf a possible keyword in schema ?"
Hi,

I got a schema like that for a route on fastify.
[code]

And sadly, my validation function for the 200 (`responseSchemaDef[statusCode]`) look like this :
[code]

I'm guessing that `allOf` is not available, but it's a [JSON schema ](http://json-schema.org/latest/json-schema-validation.html#rfc.section.6.7.1) official keywork.

Can you add it?

Same for `oneOf` ?

Regards

[2017-12-19 13:53] mcollina commented on #64
Would you mind sending us a PR? We are pretty busy wrapping up 1.0.0 of fastify these days.

[2017-12-19 15:21] keldorus commented on #64
I try something

[2017-12-21 08:13] #60 closed

[2018-01-02 08:22] keldorus commented on #64
So can I close this one ? :)

[2018-01-02 08:38] mcollina commented on #64
let's close this, it was released on 0.16.0.

[2018-01-02 08:38] #64 closed

[2018-01-02 08:38] mcollina commented on #48
Closing for no activity, feel free to reopen!

[2018-01-02 08:38] #48 closed

[2018-01-02 08:39] mcollina commented on #29
Closing for no activity, feel free to reopen!

[2018-01-02 08:39] #29 closed

[2018-01-02 08:39] #63 closed

[2018-01-08 22:59] scriptjs opened #67 "Remove dynamic requirements"
I use webpack on the server side. ES 6 expects static imports. As a result 'long' and 'uglify-es' emit the following warnings. In general, I believe it is bad practice to include dynamic requirements in a module - even while a dynamic import is being considered in ES.

Let's think of a better way to handle adding these capabilities. I have replaced my project path with '/path/to/project' in the tr

[2018-01-08 23:14] mcollina commented on #67
I don’t know how I can help. We are not adding those as direct dependencies, as they are not needed for this module to function. They are, as stated in the readme, optional.

This module is not ES, it’s commonjs and what we are doing is perfectly ok.

You should configure webpack to leave this as it is. Please send a PR if we need to add some config in package.json to tell webpack to leave this al

[2018-01-08 23:14] #67 closed

[2018-01-08 23:24] scriptjs commented on #67
@mcollina My suggestion is let's not include them if they are not needed for the module to function and look at an alternate method for adding these capabilities.

I think its important to show some sensitivity to ES, we are all headed in this direction. Resolving these sort of issues ultimately reduces unnecessary code. Let me try something here and we can talk about it with a PR. I really don't

[2018-01-08 23:33] jsumners commented on #67
The solution is to not needlessly transpile code.

[2018-01-08 23:38] scriptjs commented on #67
@jsumners Hello, I did not suggest that. I think a possible solution is providing options is a better solution to dynamically requiring modules. Let's just make it work for everyone.

[2018-01-09 01:44] scriptjs commented on #67
@mcollina , @jsumners
I determined a solution for webpack without modifications only because these are both optional dependencies. This can be resolved with the following in the webpack config.
[code]
I think this should be identified for other in the README since the critical warning will appear for anyone bundling a Fastify server. Webpack is not so much about transpiling as bundling. Speed is m

[2018-01-09 02:07] jsumners commented on #67
I'd have to see some numbers before I believe that all code in a single file has any impact whatsoever on a long running process.

[2018-01-09 02:20] scriptjs commented on #67
@jsumners I am trying to be helpful and participate in the evolution of fastify. Can we do the PR for the README.md or not? I have no desire to get into bikeshedding about transpilation. I've determined a solution that may be helpful to others. Its only a matter or whether this gets documented.

[2018-01-09 02:33] jsumners commented on #67
Submit the PR. I will stay out of it.

[2018-01-09 07:34] mcollina commented on #67
Send the PR to the readme.

@scriptjs that warning is caused by Webpack, not by ESM. The code in this module should behave just fine with native ESM. Webpack is not native ESM, and it does not behave like native ESM, it just have the same syntax of ESM.

[2018-01-10 17:53] scriptjs commented on #67
I will do this. Yes, I understand the warning and the current situation. A dynamic import has been proposed https://github.com/tc39/proposal-dynamic-import. Node.js is also sorting this out for Node 10 so there is a better picture for modules as the bundling and packaging of server side code continues to evolve.

[2018-02-17 17:31] florianreinhart opened #74 "Error when using anyOf with null and object type"
I ran into this issue when trying to create a JSON schema for fastify. We have a property that can either be null or be an object. I've created a simple example to reproduce the issue:

[code]

It looks like fast-json-stringify generates invalid code:

[code]

[2018-02-17 21:53] mcollina commented on #74
Nice one! Would you like to send a PR?

[2018-02-18 09:35] florianreinhart commented on #74
I can dig into it. But I don't know much about JSON schema or fast-json-stringify, yet. Can you point me where to start looking in the fast-json-stringify code?

[2018-02-18 10:07] mcollina commented on #74
I would probably start writing a unit test and search for the anyOf keyword.

[2018-02-19 10:27] #74 closed

[2018-02-22 11:51] florianreinhart opened #77 "Support for array of types in JSON schema"
The following is a valid schema, but currently unsupported by fast-json-stringify:
[code]

[2018-02-22 12:19] mcollina commented on #77
Definitely! Would you like to send a PR?

[2018-02-22 12:23] florianreinhart commented on #77
I am already working on it.

We need to conditionally require `ajv` like it is done for `anyOf` in the `hasAnyOf` function. The hard part is to figure out if the schema includes any type arrays.

[2018-02-23 11:24] #77 closed

[2018-02-27 17:31] florianreinhart opened #79 "Properties of nested objects aren't always serialized"
If a nested object has a property, which is also present in the parent, it is not serialized.

I've already created a test case.

[code]

**Expected result**
[code]

**Actual result**
[code]

[2018-02-27 17:43] mcollina commented on #79
very interesting! Would you like to send a PR as well?

[2018-02-27 18:01] florianreinhart commented on #79
I don't have time right now, but will look into it once I do. I'll let know when I start working on it.

[2018-03-01 09:44] florianreinhart commented on #79
I will work a PR today.

[2018-04-08 14:57] mikeleonard opened #83 "Any way to run in an environment where new Function() and eval are not allowed?"
Hi. Cloudflare Edge Workers allow you to write javascript that runs in an embedded V8 environment in all >150 of Cloudflare's data centres at the 'edge'. However for security reasons [they don't allow you](https://developers.cloudflare.com/workers/reference/) to use `eval()` and `new Function()`.

I was wondering if there's a way of using `fast-json-stringify` given these constraints. I can see th

[2018-04-13 07:29] #79 closed

[2018-04-27 09:36] greenkeeper[bot] opened #85 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="/fastify/fast-json-stringify/compare/master...fastify:greenkeeper%2Fupdate-to-node-10">open a

[2018-04-30 17:46] allevo opened #87 "Apply defaults"
As titled.

[2018-05-01 17:30] allevo commented on #87
Closed by #88

[2018-05-01 17:30] #87 closed

[2018-05-02 19:52] allevo opened #90 "Add if/then/else jsonschema feature"
as titled

See https://ajv.js.org/keywords.html#ifthenelse

[2018-05-04 06:26] manzonif opened #95 "Module not found: Error: Can't resolve 'uglify-es'"
npm doesn't reflect last uglify-es version (3.3.10). Reason: uglify-es is no longer maintained,

https://github.com/mishoo/UglifyJS2/issues/3067

[2018-05-04 16:05] mcollina commented on #95
ouch.

What would be the fix in our case? Would you like to send a PR?

[2018-05-05 12:41] jsumners commented on #95
It looks like we are somehow depending on a non-published version. We have 3.3.10 and the latest published is 3.3.9 -- https://www.npmjs.com/package/uglify-es

[2018-05-05 21:16] #95 closed

[2018-05-05 21:16] mcollina commented on #95
Rolled back to 3.3.9.

[2018-05-05 21:17] mcollina commented on #90
Implemented in #91.

[2018-05-05 21:17] #90 closed

[2018-05-05 21:18] mcollina opened #97 "Remove uglifier support"
This is only relevant for Node 6 now, and I think we should drop this feature in the next major release.

[2018-05-05 21:35] allevo commented on #97
I agree. If we add a feature like "save your stringifier function to a file". So a developer could bundle it easily

[2018-05-05 21:44] mcollina commented on #97
@allevo what do you propose make sense. However, the uglifier was added because it improved the throughput with Crankshaft / Node 6. That has less than a year to live.

[2018-05-24 05:08] hh9527 commented on #85
Have anyone test it in Node v10, in my case, JSON.stringify is much faster than fast-json-stringify in Node v10.

[2018-05-24 05:41] mcollina commented on #85
I did, and our results are generically in line with node 8. Can you make an example?

[2018-05-24 06:14] mcollina commented on #85
Closing because this has been updated.

[2018-05-24 06:14] #85 closed

[2018-05-29 08:29] cjwddz opened #100 "fast-json和原生JSON序列化效率比较"
你好你好，我在学习fast-json项目的过程发现原生的JSON序列化效率要更高一些。也可能是我测试方法存在缺陷，请指正。
测试脚本：https://www.cjwddz.cn/blog/2018-05-29-front-end/serialize-compare/

[2018-05-29 10:18] mcollina commented on #100
Unfortunately I do not understand Chinese, can you please write in English?

From the code, it seems you are benchmarking fast-json-stringify. In order to appreciate its speed, you have to increase the number of repetitions. Some of the V8 optimizations kicks in after a while and with a low number of iterations it is slower.

[code]

JSON序列化后为：160字节
JSON序列化1000000次用时: 1482.130ms
fast-json序列化后为：160

[2018-06-01 17:00] mixecan opened #101 "A string with one double quote at the beginning is not correctly stringified"
If a string begins with a double quote and it never contains another one it is stringified without escaping the double quote.
The following test fails
[code]
This is the output of the test
[code]

The test does not fail if there is another double quote anywhere in the string...

[2018-06-04 08:15] #101 closed

[2018-07-05 19:04] #100 closed

[2018-07-24 08:19] SkeLLLa opened #107 "How "anyOf" is working?"
Hi. I can see that this lib supports `anyOf`. But according to description it looks like it acts like `oneOf`.
For example in ajv `anyOf` should match 1 or more and `oneOf` should match exactly one.

Also it seems working correctly if `anyOf` items differ by type. However if they not, it will fail and just take the last object to validate.

Under the hood it converts `anyOf` to `if-else` clause wi

[2018-07-25 21:31] mcollina commented on #107
You would need to update https://github.com/fastify/fast-json-stringify/blob/master/index.js#L106-L118 to traverse the full tree.

[2018-08-06 22:43] smartiniOnGitHub opened #108 "Serialization of an object with unknown attributes"
Hi all, sorry this is a question and not an issue ... in a library I'm writing [fastify-cloudevents](https://github.com/smartiniOnGitHub/fastify-cloudevents), I need to serialize even an object 'data' (usually it's an object, but could be even a Map or a Set ... and with the if/then/else jsonschema feature I should be able to handle it, ok), anyway data is an object provided by consumers of the li

[2018-08-07 06:59] mcollina commented on #108
Unfortunately it's not clear. Can you make an example?

[2018-08-07 16:02] smartiniOnGitHub commented on #108
Sure, in the library I configure a generic schema for serializing objects in json, see [here](https://github.com/smartiniOnGitHub/fastify-cloudevents/blob/master/cloudevent.js#L189); but as you can see, the 'data' attribute is not known because consumers of the library will fill it, so in the json schema I define it as a generic 'object'.
So in the test (using TAP) shown [here](https://github.com/

[2018-08-07 16:31] mcollina commented on #108
You should use `additionalProperties: true`  in there. You could also ask your users to specify their schema, but I think `additionalProperties: true` is a better user experience.

[2018-08-08 11:17] smartiniOnGitHub commented on #108
ok, thank you very much for the info.

[2018-08-08 11:17] #108 closed

[2018-08-09 16:20] greenkeeper[bot] opened #109 "An in-range update of is-my-json-valid is breaking the build 🚨"
## Version **2.18.0** of **is-my-json-valid** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/fastify/fast-json-stringify/compare/master...fastify:greenkeeper%2Fis-my-json-valid-2.18.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://git

[2018-08-09 16:25] mcollina commented on #109
Flaky test.

[2018-08-09 16:25] #109 closed

[2018-08-31 09:56] previousdeveloper opened #111 "Array Object Schema"
[
{
id: "string"
}
]

 I have json like that. How to build my schema ?

Thanks

[2018-08-31 10:03] mcollina commented on #111
You can get a JSON schema tutorial at https://json-schema.org/.

[2018-08-31 10:07] previousdeveloper commented on #111
I have generated but not working.

  title: 'Listing Response Schema',
    type: 'array',
    items: {
        type: 'object',
        properties: {
            id: {
                type: 'string'
            }
        }
    }

[2018-08-31 10:16] mcollina commented on #111
There are several examles in https://github.com/fastify/fast-json-stringify/blob/master/test/array.test.js

[2018-08-31 10:19] previousdeveloper commented on #111
Yes i found them, but these examples are object array json, my example is different  array object not supported ?

[2018-08-31 10:27] mcollina commented on #111
Would you mind sending a PR with a failing unit test? Thanks.

(https://github.com/fastify/fast-json-stringify/blob/master/bench.js#L41 runs a benchmark for a very similar case)

[2018-09-10 04:52] StarpTech opened #113 "Run JSON-schema test-suite"
Hi, while we support many features we should still track which JSON-Schema features are covered right now. We should add the official JSON-schema tests-suite as a submodule and write against it. In that way, we can create TODO what's is missing and motivate people to fulfill it.

Node branch: https://github.com/json-schema-org/JSON-Schema-Test-Suite/tree/node
Up-to-date: https://github.com/json-sc

[2018-09-10 06:17] mcollina commented on #113
This would be fantastic!

[2018-09-10 18:28] allevo commented on #113
I'm 👍  absolutely. We had to study how to integrare their tests here: the validation tests work contrariwise.

[2018-09-12 14:38] honestserpent opened #114 "\d in patternproperties seems to not work"
Hi, I have an object whose keys represents date in the format _YYYY-MM-DD_ and I am trying to build a schema that matches it, but without any result. It looks like.

[code]

returns `{}`.

Using `'^[0-9]{4}-[0-9]{2}-[0-9]{2}$'`works, instead

[2018-09-12 15:32] StarpTech commented on #114
Did you try `^\\d{4}-\\d{2}-\\d{2}$` 😄

[2018-09-12 15:36] honestserpent commented on #114
Oh Boy.

[2018-09-12 15:36] #114 closed

[2018-09-13 21:46] g-corneu opened #115 "Allowing the use of a modified Ajv instance"
Hi, thanks for all the great work!

I'm having a bit of a problem with reusing a schema in Fastify in the response that has a custom format and as I read the code I tracked it down (I think) to the fact Fastify uses this package to compile the response schemas, but since this package uses an internal instance of Ajv it does not have the custom format.

I'm wondering if you'd be open to a PR that w

[2018-09-13 21:57] mcollina commented on #115
Thanks for reporting! Would you mind to share an example of what it is not working for you?

[2018-09-14 08:50] g-corneu commented on #115
Sure! Here's an exmaple:

[code]

Results in an error similar to:
![screen shot 2018-09-14 at 09 48 22](https://user-images.githubusercontent.com/21124794/45540077-6a24a800-b803-11e8-8647-1bd6e4f2c13b.png)

I realise that it would have made more sense to open this on the main Fastify repository first, apologies! But as I was reading the code for Fastify I (think) I tracked it down to the fact that

[2018-09-14 09:08] mcollina commented on #115
The problem is that this module _is not used to validate the responses_ before sending them. It is used to render them. As such, it does not know anything about your format, it would in fact be _totally ignored_ even if you pass it through. We use AJV to validate that your schema is valid JSON schema.

Passing in a custom AJV would remove the error, but it will just make that ignored.

[2018-09-14 09:16] g-corneu commented on #115
That makes sense, and I don't want any validation, I'd just like to be able to use a schema that I use in both the request and response (because they share the same data) but have the custom format ignored when it is used in the response.

I've realised that there is an alternative to passing in a custom Ajv instance but instead use the option `unknownFormats: "ignore"` instead which would allow c

[2018-09-14 09:17] mcollina commented on #115
I think we should add this to fast-json-stringify ajv config.

[2018-09-14 10:04] #115 closed

[2018-09-23 11:33] greenkeeper[bot] opened #117 "An in-range update of ajv is breaking the build 🚨"
## The dependency [ajv](https://github.com/epoberezkin/ajv) was updated from `6.5.3` to `6.5.4`.

🚨 [View failing branch](https://github.com/fastify/fast-json-stringify/compare/master...fastify:greenkeeper%2Fajv-6.5.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ajv is a direct dependency of this project, and **it is

[2018-09-25 17:53] sarneeh opened #118 "Support for toJSON"
I'd like to have a little different model structure internally in my app than returning it externally via API. Unfortunately, using `fastify` and `fast-json-stringify` this can't be done as `fast-json-stringify` does not use the objects `toJSON` function to map the data somehow.

I guess it could be on purpose to improve the performance, but this is a little bit unintuitive to do:

`reply.send(mod

[2018-09-25 18:48] mcollina commented on #118
If it is not too costly perf-wise, we should check if an object has a toJSON method, and call that before applying the schema. Would you like to send a PR that does that?

[2018-09-25 22:27] cemremengu commented on #118
@sarneeh Yes we even pushed the same second. Sorry it's my bad I was just lurking around and saw this, I should have asked first.  It is your right to have this PR 😄

[2018-09-25 22:34] sarneeh commented on #118
@cemremengu No problem 😄 I needed some time to find out what's going on in this project. I hope I didn't mess this up completely 😄

[2018-09-25 22:36] cemremengu commented on #118
@sarneeh I will close mine in favor of yours and we can continue work from there

[2018-09-26 08:28] #118 closed

[2018-09-26 08:37] sarneeh commented on #118
@mcollina Awesome, thank you for the fast publish 🎉

[2018-09-26 08:38] mcollina commented on #118
Glad to help! Keep sending PRs :).

[2018-10-31 07:51] #111 closed

[2018-11-01 15:11] #117 closed

[2018-11-03 11:01] StarpTech commented on #113
Ticket can be closed. The JSON-schema test suite was merged with https://github.com/fastify/fast-json-stringify/pull/122

[2018-11-03 11:01] #113 closed

[2018-11-04 22:00] greenkeeper[bot] opened #125 "An in-range update of ajv is breaking the build 🚨"
## The dependency [ajv](https://github.com/epoberezkin/ajv) was updated from `6.5.4` to `6.5.5`.

🚨 [View failing branch](https://github.com/fastify/fast-json-stringify/compare/master...fastify:greenkeeper%2Fajv-6.5.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ajv is a direct dependency of this project, and **it is

[2018-11-05 09:20] mcollina commented on #125
Flaky CI

[2018-11-05 09:20] #125 closed

[2018-11-08 07:51] Marsup opened #126 "anyOf coercion"
Hi!

I'm trying to understand whether what I see is a bug or an expected behavior. String coercion doesn't seem to happen when inside an `anyOf` (see https://runkit.com/embed/1aoibrghntr5), so my question is should it and if not is there any way to do it?

Thanks!

[2018-11-08 12:08] mcollina commented on #126
The way `anyOf` is implemented, we use AJV to validate which one to pick. I think it's a matter of changing Ajv defaults to actually coerce the output. Would you like to send a PR?

[2018-12-04 22:38] marcbachmann opened #130 "Better support for `null` values"
I ran into an issue with the serialization of values I query from a postgres database.
The behavior in `fast-json-stringify` is currently not documented and there's no mention anywhere about how non-matching input values behave, so I guess this topic didn't come up yet (at least not on github).

We should be able to provide a good solution for the problem, be it dropping the properties, throw an e

[2018-12-05 08:12] mcollina commented on #130
I agree that we should fix this. I’m a bit snowed under atm, would you mind to send a PR with a fix? Both coercion or dropping properties are ok for me.

[2018-12-06 00:14] marcbachmann commented on #130
Oh, I just had a look at the benchmark and saw that `"type": ["string", "null"]` and `"type": ["object", "null"]` are already supported. So this issue would be about defining the behavior a strict `"type: ["object"]` should behave.
That array notation is currently only supported on properties of an object, so that would be a separate issue we can work on.

[2018-12-06 00:40] marcbachmann commented on #130
Oh, and it does not work for integers, only for type `number`, `string` and `object`
[code]

[2018-12-15 22:05] mcollina commented on #130
I'm totally lost and unable to understand exactly what is broken and what is not working.
Can you please make a list of input and expected output?

[2018-12-22 09:46] mcollina commented on #130
This should be fixed by #131 !

[2018-12-22 09:46] #130 closed

[2018-12-22 09:48] mcollina commented on #107
Is this still a problem? This might be fixed in https://github.com/fastify/fast-json-stringify/pull/112.

[2018-12-22 11:36] SkeLLLa commented on #107
@mcollina Unfortunately I don't know exactly. I'm using Object.assing and then registering schema instead of anyOf. But you may easily check it with the test case I've provided in the first message.

[2019-01-08 20:09] romansavchenko opened #132 "minProperties is not respected"
minProperties is usually used to not allow empty objects.
I'm seeing this behavior fail.

[code]

It returns `{ "shouldNotBeReturned": {} }` instead of the expected `{}`
`{ "shouldNotBeReturned": {} }` is invalid per the schema

[2019-01-08 20:41] mcollina commented on #132
I'm kind of lost on why you expect this type of output. Can you please articulate more?

[2019-01-08 21:12] romansavchenko commented on #132
As far as I understand currently anything that fails json schema validation is not returned right?
Like if I had "additionalProperties"=false, anything not in the schema would not be returned.

[code]

[2019-01-09 08:32] mcollina commented on #132
Considering our code, I think the best approach would be to throw if `minProperties` is not respected. I don't think there is any other way that would be performant. Would you like to send a PR?

[2019-01-09 17:41] romansavchenko commented on #132
I kind of feel like we should leave it as is, and say additionalProperties is a special case.

If we throw for minProperties we  should probably throw for all schema failures like (enum, minLength, maxLength, etc.)
Throwing for everthing however, seems less useful since our goal is to stringily fast not necessarily validate the schema.

[2019-01-09 17:45] mcollina commented on #132
would you like to send a PR to amend the docs mentioning `additionalProperties` is a special case?

[2019-01-09 18:20] romansavchenko commented on #132
Sure.

[2019-01-09 19:24] mcollina commented on #132
yes

[2019-01-14 08:08] bhamon opened #133 "multiple types with null fails"
Related to #77
Tested on master this morning.

Please find below the test code:
[code]

The expected output is `{"data":4}` but I've got `{"data":null}`.

[2019-01-18 19:32] romansavchenko commented on #132
Updated docs https://github.com/fastify/fast-json-stringify/pull/135

[2019-01-18 19:32] #132 closed

[2019-02-02 07:30] Eomm opened #136 "Maximum call stack size exceeded when $ref plain name fragment"
Hi all,
writing this PR https://github.com/fastify/fastify/pull/1425, with the suggestion of Collina, I found that the `$ref` property doesn't support the URI that points to `$id` (alias plain name fragment format).

I write this test that should pass:

[code]

Double check with AJV, where it works as expected:

[code]

I'm working on this if it is ok for you 👍
Any suggestion is welcome 😃

[2019-02-02 08:07] mcollina commented on #136
Ping us if you are stuck anyhow or if you have questions!

[2019-02-04 08:21] Eomm commented on #136
I would like to know why this:

https://github.com/fastify/fast-json-stringify/blob/321bc3fb3b1a6896c57a4e5675958a3942d9a880/index.js#L442

(which output `code = return schema[param][param2][param_n]` )
is preferred instead of a recursive code to walk the schema object?

And I'm wondering if should I follow this pattern also in my PR?

Thanks

[2019-02-05 02:03] #136 closed

[2019-02-20 13:42] JCtst opened #138 "Issue when array is null"
Have issue, when array is null.

[code]

with result:

      throw er; // Unhandled 'error' event
      ^

     TypeError: Cannot read property 'length' of null

[2019-02-20 22:00] mcollina commented on #138
This has a PR in progress that has stalled. Would you like to help bringing it over the finishing line: https://github.com/fastify/fast-json-stringify/pull/134?

[2019-02-28 12:54] SkeLLLa opened #139 "Be more verbose on schema validation."
In Fastify when some schema is not valid it's almost impossible to guess which one. So in order to make it clear error should have schema `key` somewhere.

My suggestion is to wrap https://github.com/fastify/fast-json-stringify/blob/master/index.js#L937 in `try..catch`:

[code]

[2019-02-28 14:09] mcollina commented on #139
Would you like to send a PR to fix this?

[2019-02-28 15:53] #139 closed

[2019-03-01 17:30] #133 closed

[2019-03-03 21:39] cemremengu commented on #138
This should be fix now that #134 has landed

[2019-03-03 21:39] #138 closed

[2019-03-11 13:29] mathiasbynens opened #147 "Make stringify output a well-formed Unicode string (matching JSON.stringify)"
We recently changed `JSON.stringify` to output well-formed strings, even when the input contains lone surrogates: https://github.com/tc39/proposal-well-formed-stringify

Example:

[code]

Currently, the surrogate appears unescaped in the output.

[2019-03-11 17:09] mcollina commented on #147
Thanks for opening this up. I think we can handle this by changing this [ternary](https://github.com/fastify/fast-json-stringify/blob/d1677f73b5825343ad1a4a0b6652bfb014a4a4e6/index.js#L261) so that we bail to `JSON.stringify()` in those cases.

[2019-03-11 17:48] mathiasbynens commented on #147
The annoying thing is that you need to check the previous/next character as well to figure out if it's indeed a lone surrogate, and not a surrogate pair. Here's how we implemented in in V8, FWIW: https://github.com/v8/v8/commit/a11e05be3ac91723becfbb26344f955b333d09e0

[2019-03-16 00:06] dYale opened #148 "Add @types/fast-json-stringify for us TypeScript users"
Always want types with my TypeScript.

Happy to help out here.

[2019-03-16 01:04] mcollina commented on #148
Would you like to send a PR to this repo? Thanks!

[2019-03-19 15:06] tommasoballardini opened #149 "Bad long serialization"
Hello,
I tried to serialize long number using fast-json-stringify but it doesn't work as expected. In server.js I've added the following lines
[code]
 but the output was
```{"hello":"world","data":{"low":-1,"high":-1,"unsigned":true},"nested":{"more":"data"}}``` instead of
```{"hello":"world","data":18446744073709551615,"nested":{"more":"data"}}```

[2019-03-19 16:14] mcollina commented on #149
I don't think your code is actually passing through fast-json-stringify. Can you upload a full example? Check out https://github.com/fastify/fast-json-stringify/blob/master/test/long.test.js: these are our tests for long support.

[2019-03-20 10:36] ccarcaci commented on #149
Hi Tommaso
try this

[code]

;)

[2019-03-20 14:43] tommasoballardini commented on #149
Thanks, @ccarcaci  solution has worked!

[2019-03-20 14:57] #149 closed

[2019-03-22 07:32] mcollina commented on #126
Fixed in https://github.com/fastify/fast-json-stringify/pull/150

[2019-03-22 07:32] #126 closed

[2019-03-22 08:27] srmarjani commented on #147
Hi
What is difference between  lone surrogate and surrogate pair?

[2019-03-22 08:29] #107 closed

[2019-03-22 08:31] mcollina commented on #147
An unicode character is composed of more than 1 byte, starting with a prefix. I think a lone surrogate is when you have the prefix byte without the follow-up.

[2019-03-22 08:34] srmarjani commented on #147
OK.
My knowledge about unicode is low.
I must do some research before doing some code on this issue.

[2019-03-22 10:11] mathiasbynens commented on #147
Copying something I wrote on <https://mathiasbynens.be/notes/javascript-encoding#surrogate-pairs> in case it provides more background:

A lone surrogate is a surrogate that occurs by itself, i.e. it is not part of a pair.

[2019-03-22 18:43] srmarjani commented on #147
Hi @mcollina

I don't get this code. Where does 42 come from?

` if (str.length < 42) {
    return $asStringSmall(str)
  } else {
    return JSON.stringify(str)
  }`

I read the code that @mathiasbynens  mentioned for V8.
As I understood in V8, string examined character by character and they have in mind unicode.
But in fast-json-stringify I think you've considered only ascii code. Am I wrong?

[2019-03-22 21:51] mcollina commented on #147
Short strings are faster to escape manually rather than calling `JSON.stringify()`. I had to pick a number, and I picked 42. The main reason we have this is because of object keys: those are short and using this hack increase the throughput significantly.

Note that there is a fallback logic to go to `JSON.stringify()`:
https://github.com/fastify/fast-json-stringify/blob/master/index.js#L261. We s

[2019-03-23 09:38] srmarjani commented on #147
I sent an PR.
[https://github.com/fastify/fast-json-stringify/pull/151](url)
Please Do not Merge

[2019-03-27 14:53] gendronb opened #152 "Nullable string serialized as double-quoted empty string"
### Expected Behavior
As mentionned in the docs (https://github.com/fastify/fast-json-stringify#nullable), properties marked as `nullable: true` should be serialized as `null`.

### Current Behavior
Currently, a null string is serialized as a double-quoted empty string (```""```)

### Steps to Reproduce
[code]

### Workaround
Remove `nullable: true`  and mark property type as `['string', 'null']`

[2019-03-27 14:57] mcollina commented on #152
Would you like to send a PR to fix this?

[2019-03-27 14:59] gendronb commented on #152
@mcollina as mentionned, I have a workaround, but looking into the code, I don't see any solution, everything looks great.

BTW, it also happens with other types (integers, ...)

[2019-03-27 15:21] gendronb commented on #152
Just forked the repo, will have a closer look, stay tuned...

[2019-03-27 20:22] gendronb commented on #152
@mcollina some progress today, made it to work with integers, numbers, strings, booleans, objects, arrays, but still have to check if it works with nested properties (in arrays or objects)...

[2019-03-27 20:28] Eomm commented on #152
Yes, as you said this behaviour is [documented](https://github.com/fastify/fast-json-stringify#nullable), and your workaround is compliant to the JSON-schema standard.

How do you have designed this feature? Is it optional for the user?

[2019-03-27 20:34] gendronb commented on #152
@Eomm the way I did it is completely optional. If the `nullable` property is present AND `true`, and the value is `null`, the serialized value will be `null`. Otherwise, the normal serialization process applies...

For example, see this code snippet for strings :

BEFORE
[code]

AFTER
[code]

How does it look to you?

[2019-03-27 20:35] gendronb commented on #152
For arrays, the logic is implemented in the `buildArray` method.

For objects, this was the default behavior...

[2019-03-28 20:13] Eomm commented on #152
I need to study it a bit 💪

[2019-04-01 07:15] #152 closed

[2019-04-01 14:28] matth-c3 opened #154 "data validation"
Hello,

Would it be possible to add custom function to validate the data itself ?  From my understanding it's validating the "type" only.

something like :

[code]

[2019-04-01 15:16] mcollina commented on #154
This is not part of the scope of this library. It's not really to validate the data - it's for rendering it to string.

[2019-04-01 15:16] #154 closed

[2019-04-02 08:18] mjwwit opened #155 "Error when using anyOf with objects using different required props"
The `anyOf` implementation does not properly support objects with different properties and different required properties.

Example:
[code]

The only way around this is by changing the schema to:

[code]

But this is semantically different from the first schema, and it still doesn't correcly check the required properties; stringifying `{foo: 42}` will result in `"{}"`, but should throw an error.

[2019-04-02 08:22] mcollina commented on #155
Would you like to send a PR to fix this issue?

[2019-04-02 08:34] mjwwit commented on #155
I could give it a go.

[2019-04-03 12:57] mjwwit commented on #155
I've put some time into researching the issue. As it turns out, the above example has no supporting code whatsoever. Top-level `anyOf`s seem to not be supported at all? Either way, this isn't the actual issue I'm running into, just a simplified version.
In order to find the issue there, I nested the example schema inside of an object, since `anyOf`s seem to be supported in nested schemas. That led

[2019-04-03 16:04] #155 closed

[2019-04-03 18:37] #148 closed

[2019-04-15 11:34] yndc opened #160 "Support for external $ref plain name fragment"
In ajv, it's possible to have a $ref referencing a plain name fragment in an external schema (added through .addSchema).

I need this functionality in fastify to make schemas management more modular within my app. I have made a pull request for this feature. https://github.com/fastify/fast-json-stringify/pull/161

[2019-04-16 12:06] #160 closed

[2019-04-17 10:11] abarre opened #162 "Accept $ref at the root of the response object"
I try to write the `response` property of a fastify route like so :
[code]
This is actually based on a swagger definition from the real world project here : https://github.com/gothinkster/realworld/blob/master/api/swagger.json#L35...L73

After several attempt, I found a work-around by copying the definition of `UserResponse` like so :
[code]

Edit : note that the syntax is correctly supported for

[2019-04-17 10:34] mcollina commented on #162
It’s not exactly clear what is the problem. Would you mind providing a failing/broken example?

[2019-04-18 07:33] abarre commented on #162
Sorry, I did some copy/paste and didn't realize that the issue was not clearly stated.
The following syntax is not supported by `fast-json-stringify` when it's correctly supported by `ajv` or `fastify-swagger` :
[code]
Since `fast-json-stringify` doesn't resolve the reference at the root level. There is multiple crashes :
[code]

and if I add a `type:object`, there is no exception at the build but

[2019-04-18 07:55] mcollina commented on #162
That's definitely a bug. Would you mind adding a full example just using fast-json-stringify?

[2019-04-18 08:15] abarre commented on #162
A minimal example is :
[code]

[2019-04-18 22:02] mcollina commented on #162
@Eomm would you mind taking a look?

[2019-04-20 09:51] #162 closed

[2019-04-22 14:07] abarre commented on #162
Thank you for the quick fix.
@mcollina, do you plan to release 1.15.2 soon ?

[2019-04-22 21:36] Eomm commented on #162
@mcollina Yup, the release on GitHub has been created [v1.15.2](https://github.com/fastify/fast-json-stringify/releases/tag/1.15.2) but on npm there is not the published version (and I don't have rights to do it).

[2019-04-23 02:56] mcollina commented on #162
done.

Il giorno mar 23 apr 2019 alle ore 04:36 Manuel Spigolon <
notifications@github.com> ha scritto:

[2019-04-30 02:19] mcollina opened #165 "Investigate json-schema-ref-parser"
https://www.npmjs.com/package/json-schema-ref-parser might avoid us to have some custom logic / avoid bugs when dealing with refs here. What do you think?

[2019-04-30 19:15] Eomm commented on #165
This could be a good starting point since, now, there are some cases not covered (like urn).

I'm not sure about the bugs opened in that module, there are a some that seem really high-priority but still open.
I checked AJV, and they use an internal function to resolve $refs.

I'm more inclined to write a more complete function, so we can still be proponents of our destiny.

[2019-04-30 23:29] mcollina commented on #165
+1!

[2019-04-30 23:29] #165 closed

[2019-05-28 11:18] dalisoft opened #169 "[Feature Request]: Allow return "errors" instead of throwing"
Hello and thanks for this library.
For my case, this library improves Request/second by 3-7% which is good for me.
But when schema fails, i want get error by string and show to users.

Using try/catch decreases performance by ~40% for my app. Is there any way get it or available options?

PS: I'm not using `fastify`, i made own library :)

[2019-05-28 11:46] mcollina commented on #169
Can you make an example? This library perform some crude validation, it’s not a full json schema validator anyway. I’m happy to take a PR for this that support this behavior behind flag.

[2019-05-28 11:48] dalisoft commented on #169
Example

[code]

I try make PR for flag for this feature

[2019-05-28 12:30] dalisoft commented on #169
@mcollina Sorry, i tried make PR for this, but there 101 options need to be pasted. Maybe i can't understand code-base correctly.

I currently don't have time, but try in next week, ok?

Thanks for library

[2019-05-28 15:26] dalisoft opened #170 "[Question]: How it's so fast?"
@mcollina

I don't know Discussion is possible or not, how it's fast? I'm built own stringify which `Fastest` possible way and then benchmarked.
I am very shocked. `fast-json-stringify` is 2-times faster than my module. How it's possible?

You're doing things that faster than JS :)

[2019-05-28 15:26] #170 closed

[2019-05-28 15:27] dalisoft commented on #170
Would be be diss in Closed issue as this isn't real issue

[2019-05-28 15:28] dalisoft commented on #170
Here some benchmark:
[code]

[2019-05-28 17:59] davidmarkclements commented on #170
related: https://github.com/davidmarkclements/v8-perf

if you're not using a schema (which is where the real speed benefits come in with this module),
then you're actually benchmarking against [fast-safe-stringify](https://github.com/davidmarkclements/fast-safe-stringify) (which is the fallback when a schema isn't provided).

[2019-05-28 18:00] dalisoft commented on #170
@mcollina Amazing, i also hope someday learn a lot of performance secrets like you're 👍

I now understand how it works, it creates new function with `precompiled` (or `prepared`) function.

[2019-05-28 18:08] dalisoft commented on #170
@davidmarkclements I think my library little faster than `fast-safe-stringify`, but i will benchmark anyway. Performance of your library should be higher as you already tried many ways to optimized code and know what makes it fast, what's not

[2019-05-28 18:23] davidmarkclements commented on #170
@dalisoft I've looked at your code, it will be faster. But it will also enter an infinite loop if handed an object with a circular reference, and it will copy prototype properties over, whereas `JSON.stringify` will not. If these are deliberate trade-offs that's cool, but be sure to document the risks

[2019-05-28 18:27] dalisoft commented on #170
@davidmarkclements Thanks for tip, i will do

[2019-05-28 19:06] dalisoft commented on #169
@mcollina Done, #172

[2019-06-17 17:33] adrai commented on #152
Can it be that `nullable: true` does not work if `type: string` and a `format` or `pattern` exists?

[2019-06-18 17:11] adrai commented on #152
Seems this is too complex to handle => https://github.com/epoberezkin/ajv/issues/919

[2019-07-26 10:00] JesalR opened #175 "anyOf returns null"
I'm using fast-json-stringify as the built in serialiser for fastify, any am having an issue with anyOf when used in an array.

The array property that uses anyOf returns an array of nulls, instead of the item that would be expected

[code]

returns

[code]

If instead I use
[code]
I get

[code]

Which is the result I would expect to see in the initial example with anyOf.
I'm using the latest vers

[2019-07-26 14:02] Eomm commented on #175
Why in the schema defintion there is a property called:

[code]

and the in `consol.log` the data are in the `questions` field?

Fixing this the output is:

[code]

[2019-07-26 14:36] JesalR commented on #175
This was an issue with me making a mistake pasting into GitHub. The quiz initially starts with arrays of questions and textBlocks that are joined into the nodes array.

I've corrected the examples, and I still get the same issue as initially described

Even in your output, the data is not what I would expect, maybe this is because I have to use anyOf instead of oneOf and the question is a match fo

[2019-07-26 15:22] Eomm commented on #175
I think `oneOf` is not supported right now.

There should be some conflicts due to a bug.
If you try to remove the `createdAt` and `updatedAt` fields from the objects in `nodes` array, they will show up.

I don't spot why right now

[2019-07-26 16:56] JesalR commented on #175
That seems to be because I left a space in the updatedAt fields when I pasted them. This did, in the end, lead me to my actual problem.

The data as returned by the database has the createdAt and updatedAt properties as date objects and not strings. Converting those fields on the objects in nodes to strings causes a correct return.

This, however, does not need to be done for the top level object,

[2019-07-31 10:24] JanVoracek opened #178 "Support additionalProperties with multiple types or anyOf"
Following schema doesn't work with fast-json-stringify:

[code]

Also using `anyOf` doesn't help:

[code]

You can try it on RunKit: https://runkit.com/janvoracek/fast-json-stringify-additionalproperties-multiple-types

[2019-07-31 11:05] mcollina commented on #178
Is that part of the standard? If so, would you like to send a PR to add support for it?

[2019-08-05 08:10] uinz opened #179 "`allOf` not support as `items` of array"
[code]

[2019-08-05 08:15] mcollina commented on #179
Is that part of the json-schema spec? Would you like to send a PR?

[2019-08-05 08:17] uinz commented on #179
let me try, but i am not sure i can do it

[2019-08-06 13:41] zbrox commented on #175
Btw the official documents use oneOf in the example validation schema [1]. Was it removed after being supported?

[1] https://www.fastify.io/docs/latest/Validation-and-Serialization/

[2019-08-07 09:17] Eomm commented on #175
The example refers to "validation" that don't use this module for that purpose.

This case is serialization

[2019-08-07 10:16] Eomm commented on #175
I have found the problem.. I should add a debug mode 😅

You can solve it with this setting in `fast-json-stringify`:

[code]

or adding the timezone in the date string object you want to stringify.

The problem is due to `date-time` as already said. The (silent) error was triggered only for the objects in the `nodes` array due to the `anyOf` keyword, they are validated through AJV.

[code]

So, [r

[2019-08-07 10:16] #175 closed

[2019-08-07 10:37] Eomm opened #180 "debug mode"
ref #175

In order to let users understand better this module and debug faster their code, I would like to think a `debug mode` that act like this:

- [ ] print out the raw generated code (that help me to understand the problem)
- [ ] when the built `stringify` function is called print (or return?) additional validations information

WDYT?

[2019-08-07 10:43] mcollina commented on #180
+1 I always put in a lot of console.log that I remove.

[2019-08-07 10:43] Eomm commented on #147
Closing since the PR has been merged and released 👍

[2019-08-07 10:43] #147 closed

[2019-08-12 10:15] Shiva127 opened #181 "Recursion"
I'm trying to serialize some [recursive directory tree](https://json-schema.org/understanding-json-schema/structuring.html#recursion) without success.

And I do not find any solution, can you please help me?

## Code
[code]

## Error
[code]

[2019-08-12 11:14] mcollina commented on #181
Ouch! This is definitely a bug! One that’ll likely require some significant refactoring to be fixed properly.

I don’t have time right now, so a PR that addressed this would be highly welcomed.

[2019-10-17 19:05] amaschas opened #186 "Package adds runtime dependencies in devDependencies"
## 🐛 Bug Report

Several runtime dependencies of this package are listed in devDependencies, which means they only get installed at build time, and are unavailable at runtime.

## To Reproduce

Install `fast-json-stringify` via `npm`, add it to any application and import it.

## Expected behavior

The app runs without errors or warnings.

Paste the results here:

[code]

and then crashes with

[co

[2019-10-17 19:14] mcollina commented on #186
You are transpiling this module, and you should put some extra care while doing it. It’s not meant to be transpiled.

[2019-10-17 19:30] amaschas commented on #186
I don't think transpiling is the culprit here, and in any case this package is getting used as a downstream dependency of other packages in cases where it will, 100%, be transpiled. The issue is that there's a package that's required at runtime that doesn't appear to be installed at runtime. If I manually install the `long` and `uglify-es` packages the runtime error goes away.

[2019-10-17 19:36] jsumners commented on #186
Duplicate #67 #95 #149

Relevant code:

https://github.com/fastify/fast-json-stringify/blob/03082ebca421bf4aaaae694b248149cfdac10b7c/index.js#L10-L16

https://github.com/fastify/fast-json-stringify/blob/03082ebca421bf4aaaae694b248149cfdac10b7c/index.js#L1016-L1027

[2019-10-23 18:45] scmorse opened #187 "Support nested references in external definitions."
## 🚀 Feature Proposal

Support nested references in external definitions.

## Motivation

Sometimes to keep schemas logically separated, it can be useful to have a `$ref` that just points to another `$ref`.

## Example

[code]

Currently this fails because the resolving of the `$ref` assumes that the result will have a `type` field, but it is `undefined` because the result looks like another `{ $r

[2019-10-23 21:49] #187 closed

[2019-10-24 08:56] hazam opened #189 "anyOf + ref doesn't compile"
## 🐛 Bug Report

anyOf + ref doesn't compile. Ajv compiles the schema fine though

## To Reproduce

[code]

## Expected behavior

Compile the schema - please note that anyOf without refs works fine.

## Your Environment

- *node version*: 10
- *fast-json-stringify version*: >=1.15.6
- *os*: Mac
- I tried also older fast-json-stringy versions (13) and got same problem

[2019-10-24 09:20] hazam commented on #189
Edited the desc - got the fix as well, will send a PR soon

[2019-10-24 09:31] hazam commented on #189
https://github.com/fastify/fast-json-stringify/pull/190

[2019-10-31 15:38] ZiiMakc opened #191 "String integer converts to null if type is ['integer', 'null']"
If ajv schema is set to ['integer', 'null']:

[code]
And you have bigint integer with type of string '2312312' loaded from database, then string integer converts into null on res.send, instead of integer 2312312.

[code]

If schema is set to 'integer' without 'null', than it's works fine.

Is this is bug or it's normal behavior and i just need to use string for big integers?

[2019-10-31 21:43] mcollina commented on #191
This looks like a bug, would you like to send a PR?

[2019-10-31 23:33] ReTWi commented on #191
@mcollina was trying to understand source code, but didn't succeed :(
So i can't take PR.

But on the bright side, i found that you can use "nullable: true" and everything will work fine:
[code]

[2019-11-02 23:52] rajat12a opened #192 "ENUM field not being validated for response value"
## 🐛 Bug Report

enum field in response schema is not being used to validate the value

## To Reproduce

[code]

## Expected behavior

[code]

## Your Environment

- *node version*: 12.13.0
- *fastify version*: ^2.10.0
- *os*: Mac

[2019-11-03 07:49] mcollina commented on #192
Would you like to send a PR to fix this? Note that fast-json-stringify is
_not_ a validator and it does not validate your responses. It uses the
schema to create a really fast json stringifier function.

Il giorno dom 3 nov 2019 alle 00:52 Rajat Agarwal <notifications@github.com>
ha scritto:

[2019-11-04 19:02] rajat12a commented on #192
What you said makes sense

[2019-11-04 19:02] #192 closed

[2019-11-06 11:21] KostyaZgara opened #193 "Support multiple types in one schema"
## 🚀 Feature Proposal

Hi,  I'm using `fastify` and I know that `fastify` use `fast-json-stringify` underhood in serialization. Will be better if `fast-json-stringify` will support multiple types. For example

[code]

So property `foo` can be string or `object`

## Motivation

I'm using `fastify` with MongoDB where all ids are `ObjectId` and `fast-json-stringify` can't properly determine that `Obj

[2019-11-09 09:50] mcollina commented on #193
This would be really good to add, as it's valid json schema syntax https://json-schema.org/understanding-json-schema/reference/type.html! Would you like to send a PR to add it?

[2019-11-09 09:54] KostyaZgara commented on #193
I'm not sure that I will have enough time, but I will try as soon as possible. Thanks for the answer!

[2019-11-09 12:30] jsumners commented on #193
Shouldn't your opening example be?:

[code]

[2019-11-11 08:24] ilaif opened #194 "Add support for Moment.JS"
## 🚀 Feature Proposal

Given an object to stringify, if it contains properties of type Moment.JS, it should handle it correctly, or support extensibility for the user to do so.

## Motivation

Moment.JS (among other datetime libraries) are very common. As a Fastify user, I'm using Ajv to transform date-time input into Moment.JS, which I move around the code, and when I return a response that conta

[2019-11-11 12:48] jsumners commented on #194
1. Doesn't the `moment` object already stringify correctly?
2. Why not? `const payload = { time: moment().toDate() }`

[2019-11-11 19:09] ilaif commented on #194
1. The library reads it as not object and outputs "{}".
2. It means I have to maintain this in the code in every reply. I can just do moment().toISOString() if I go that way, but I want it handled automatically.

[2019-11-11 19:34] mcollina commented on #194
I think supporting it would be a good feature to add, essentially we would like to call .toIsoString() if date-time format is specified. Would you like to send a PR?

[2019-11-11 20:35] ilaif commented on #194
Glad to hear! Will do.

[2019-11-11 22:29] ilaif commented on #194
Opened a PR: https://github.com/fastify/fast-json-stringify/pull/195

[2020-01-02 03:04] mesqueeb opened #199 "comparison with fast-safe-stringify"
## 💬 Questions and Help

I'm looking for a JSON stringify function and am doubting between these two packages:
- [fast-json-stringify](https://github.com/fastify/fast-json-stringify)
- [fast-safe-stringify](https://github.com/davidmarkclements/fast-safe-stringify)

Is it possible to add some comparison and/or benchmarks between these two?

[2020-01-02 15:51] mcollina commented on #199
What’s your idea? The README should express enough info to draw your conclusions.

[2020-01-02 16:47] Eomm commented on #199
I think the target of these modules is different:

+ fast-json-stringify needs a JSON schema as input: you know what you are serializing (with the [flexibility to choose](https://github.com/fastify/fast-json-stringify#additional-properties))
+ fast-safe-stringify serialize JSON without knowing it plus more checks like circular references

For this reason, it would be unfair comparing them

[2020-01-03 01:22] #199 closed

[2020-01-03 01:23] mesqueeb commented on #199
Thanks this is a good comparison ! 😊

[2020-01-12 12:13] chengluyu opened #200 "Support `anyOf` at root when `type` is absent"
Before you submit an issue we recommend you drop into the [Gitter community](https://gitter.im/fastify) or [Fastify Help](https://github.com/fastify/help) and ask any questions you have or mention any problems you've had getting started with Fastify.

**Please read this entire template before posting any issue. If you ignore these instructions
and post an issue here that does not follow the instru

[2020-01-12 12:57] jsumners commented on #200
It may be valid, but I argue that it is ambiguous.

It may be common in your environment, but I haven't encountered any environments where such ambiguity is common or even accepted.

[2020-01-12 13:49] mcollina commented on #200
I fully agree to what James said about the usefulness of supporting anyOf. I
don’t think it’d be recommendable to use it with this module (or at all). That being said, I’m _always_ in favor of improving spec compatibility. anyOf support can be improved significantly (especially in recursive anyOf), if you’d like to help.

[2020-01-13 17:59] chengluyu commented on #200
I'm beginning to agree with you. My use cases are some fastify routes in which the response is one of two (or more) types which have disjoint properties. In the perspective of clients, the response is ambiguous because the client need test multiple properties to know the type. My final solution is add an additional property named `kind` so I can make use of if-then-else. Thanks you guys.

[2020-01-13 17:59] #200 closed

[2020-01-17 17:19] petrovi4 opened #201 "The library code is crashed, and it doesn't even give a rough idea of what's wrong or how to fix it."
For me the project is in a terrible condition as far as debugging is concerned.
Edited the schema. Running it.
I'm getting error

[code]

What does it mean, how to debug it, how to fix it - I don't understand.
I have to debug the code of the library itself or comment my scheme in parts to finally find the problem area.
This is very embarrassing.

Maybe I'm doing something wrong.
How do other devel

[2020-01-17 17:22] mcollina commented on #201
Well, we can understand the code that it's in here. I agree that's not the best to maintain.

The starting point of opening a bug report and trying a fix is to write a small example that reproduce the problem. Otherwise it would be really hard for us to help.

[2020-01-17 17:30] StarpTech commented on #201
This lib is a niche product. If you don't need raw performance use the native methods. If you need it, be patient and open to help. Your issue description is useless.

[2020-01-17 17:54] petrovi4 commented on #201
The fact of the matter is that there is no information about the error.
Take for example the last error I was struggling with.
It concerns this code:

[code]
In the last line of code, the application crashes because schema is null, i.e. not found.
What prevented you from checking schema, and if it is null throw an error, specifying in it for which ref this error occurred? Nothing interfered.
But t

[2020-01-17 18:33] mcollina commented on #201
Can you please clarify exactly what bug are you reporting? Can you make an example of what is causing the crash?

[2020-01-17 19:53] petrovi4 commented on #201
I didn't create this issue as an error. It was a question.
And the question was, perhaps someone else encountered any obscure errors when working with fast-json-stringify and how they were identified.

Here is an example (attention to SomeDTO_TYPO):

[code]
When trying to interpret this code as a part of schema, fast-json-stringify crashes with an error
[code]

[2020-01-17 19:58] jsumners commented on #201
Please just add a full example that will reproduce the error. One were we can copy and paste it into an `index.js` and run `node index.js` to see the error happen.

[2020-01-17 20:18] delvedor commented on #201
I agree that the debugging experience of this library can be improved, but **your tone** here is the real issue.
We will **not tolerate** this kind of behavior.
I urge you to read our [code of conduct](https://github.com/fastify/fastify/blob/master/CODE_OF_CONDUCT.md), then open a new issue and follow one of the issues templates.

[2020-01-17 20:18] #201 closed

[2020-01-17 20:18] petrovi4 commented on #201
Here's an example of what I'm talking about

[code]

The error looks like this:
[code]

[2020-01-17 22:02] delvedor opened #203 "Move to GitHub actions"
We are still using Travis and Azure Pipelines.
I think we can drop them both and move to GitHub actions :)

[2020-01-18 11:54] mcollina commented on #203
Definitely!
Il 17 gen 2020, 23:02 +0100, Tomas Della Vedova <notifications@github.com>, ha scritto:

[2020-01-19 23:07] Eomm opened #204 "Mandatory items for type array"
# 🐛 Bug Report

For types `array` the `items` key is not mandatory by the standard, but it is needed by fast-json-stringify.
We should set a default instead

## To Reproduce

[code]

## Expected behavior

The type of the item's array should be `any`

## Your Environment

- *node version*: 10
- *jast-json-stringify*: 1.16.1
- *os*: Windows 10

[2020-01-19 23:18] Eomm opened #205 "Runkit Example"
## 🚀 Feature Proposal

Following [these](http://blog.runkit.com/2015/10/28/npm-plus-runkit/) docs it would be possible to add a default example in [runkit](https://npm.runkit.com/fast-json-stringify) (like [ajv](https://npm.runkit.com/ajv) does).

## Motivation

It is very useful for users to play with the module and to create a snippet to share (like in bug report and so on)

## Example

Maybe we

[2020-01-19 23:27] mcollina commented on #205
Nice!

[2020-01-19 23:30] mcollina commented on #204
Definitely!

[2020-02-04 10:48] mcollina commented on #189
Fixed in #207

[2020-02-04 10:48] #189 closed

[2020-02-06 14:01] stephane-ruhlmann opened #208 "else condition seems mandatory when using if/then along with required"
## 🐛 Bug Report

I might be misunderstanding how if/then/else works (as explained here for example https://github.com/epoberezkin/ajv/blob/master/KEYWORDS.md#ifthenelse) but it looks to me like `else` condition is mandatory when `if/then` is used.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

The result should be `{ isCoOwnership: false }` since the validation p

[2020-02-06 14:21] mcollina commented on #208
You found a nice bug! Would you like to send a PR to fix this?

[2020-02-06 14:43] jsumners commented on #208
For reference, the spec *does not* require the presence of `else` when `then` is present -- https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.9.2.2.1

[2020-03-10 15:32] agarwalkartik commented on #208
Shouldn't the schema be returned as it is in case there is no `else` condition present and the `if` condition is also not met ?

[2020-03-10 16:28] agarwalkartik commented on #205
I guess it is as simple as copying the example from readme into a new runkit project, which I already did here https://runkit.com/agarwalkartik/fast-json-stringify-example.

But shouldn't this be done with `fast-json-stringify`'s account ?

[2020-03-10 17:22] Eomm commented on #205
Reading the docs we need a file in this repo

[2020-03-10 18:58] agarwalkartik commented on #205
Oh got it!!

There is already a file "example.js", can we use it?? Then we just need to add
[code]
in the package.json file.

Also any idea on how do we make sure that example is not old? And, is this a good idea to make sure that example is always correct?

[2020-03-10 19:03] mcollina commented on #205
We currently do not test it, but it’s very unlikely to change. Would you like to send a PR?

[2020-03-10 19:07] agarwalkartik commented on #205
Yes would love to,  but my question still remains the same.

- How do we make sure that example is not old?
- And just to be clear, you are suggesting we skip the test case for example.

[2020-03-10 19:39] agarwalkartik commented on #204
The **Expected Behaviour** in the issue calls for the item type to be `any`.

AFAIK, there is not `any` type in this module, would this issue require to add a new `any` type which just accepts any valid json ?

[2020-03-13 15:49] Eomm commented on #208
We don't return any schemas: if the condition is not met, nothing happens to the output JSON

This could be a side-effect fix, that is not the case

Ajv works as expected: https://runkit.com/eomm/ajv
when the `if` condition is not met, the `else` is not executed (because there is not an `else`)

[2020-03-19 11:04] mcollina commented on #208
Fixed

[2020-03-19 11:04] #208 closed

[2020-03-19 14:15] delvedor commented on #203
Closed in https://github.com/fastify/fast-json-stringify/pull/211.

[2020-03-19 14:15] #203 closed

[2020-03-28 03:41] mum-never-proud commented on #193
I can raise a pr is this not already done

[2020-03-28 09:50] mcollina commented on #193
I think it’s not, PRs are welcome.

[2020-04-04 08:47] #194 closed

[2020-04-04 22:02] #180 closed

[2020-04-05 00:24] simoami opened #218 "date field serialization crashes when null"
## 🐛 Bug Report

I have a timestamp field in my schema named 'updatedAt' and defined as follows:

[code]

When a record is created for the first time, the ORM return updatedAt with null, because only createdAt is set on record creation.

When it goes through serialization, I get the following error:

[code]

## To Reproduce

Steps to reproduce the behavior:

The generated eval code strictly checks

[2020-04-05 08:26] Eomm commented on #218
You should use `type: ['string', 'null']` (null as a string).
"plain" `null` is a valid data type in JSON schema only as a string

[2020-04-05 09:19] mcollina commented on #218
Would you mind to send a PR to handle this? Otherwise I'll get to it as soon as I can. That if statement should be guarded against this.

[2020-04-05 16:41] mum-never-proud commented on #218
i too faced the same issue, but the code is break here

`${index === 0 ? 'if' : 'else if'}(typeof obj${accessor} === "${type}" || obj${accessor} instanceof Date || typeof obj${accessor}.toISOString === "function" || obj${accessor} instanceof RegExp)
`
precisely `typeof obj${accessor}.toISOString === "function"`

is this the same issue?

[2020-04-05 17:01] Eomm commented on #218
Maybe I'm missing something, but I don't think it is a bug: `null` is wrong, `'null'` (string) is right.

This is working (and conform to the JSON Schema's standard):

[code]

But I cannot reproduce the `Cannot read property 'toISOString' of null` since with `null` I get

Could you add more info?

[2020-04-05 17:07] mum-never-proud commented on #218
[code]

[code]

maybe we should handle this instead of breaking

your thoughts @mcollina ?

[2020-04-05 17:13] Eomm commented on #218
Thank you for the clarification!
It is a bug 😀

This is even worse:

[code]
(same error without format)

[2020-04-05 19:27] mcollina commented on #218
It's a bug and it needs to be fixed.

[2020-04-05 19:33] simoami commented on #218
@Eomm I typed `['string', null]` manually but actually meant `['string', 'null']`. `null` as a value is the actual content of `updatedAt`

[2020-04-05 19:41] Eomm commented on #218
Could you show some code to replicate?

I tried here https://github.com/fastify/fast-json-stringify/issues/218#issuecomment-609448098

[2020-04-05 22:01] simoami commented on #218
@Eomm Furthermore I'm noticing a different behavior when the array brackets are used:

[code]
vs:
[code]
See my PR comment for details: https://github.com/fastify/fast-json-stringify/pull/219#issuecomment-609491557

[2020-04-06 16:49] zuck commented on #218
@mcollina @Eomm we also encounter the bug, unfortunately it breaks our tests on a production CI / CD pipeline. Do you plan to release a new version after merging #219? Thank you!

[2020-04-06 19:52] #218 closed

[2020-05-06 09:16] maximilian-krauss opened #221 "'Infinite' numbers are returned in JSON output"
#  🐛 Bug Report

If the serialized data contains a number field with an `Infinite` value it's being serialized as `{"value": Infinite}` which produces an invalid JSON.

Is this an expected behavior?

## To Reproduce

Steps to reproduce the behavior:

[code]
Runkit: https://runkit.com/maximilian-krauss/5eb27a8a3651fb001a5b6521

## Expected behavior

Output should be `null`.

## Your Environment

-

[2020-05-06 11:33] mcollina commented on #221
Would you like to send a PR?

[2020-05-06 11:38] maximilian-krauss commented on #221
Yes, sure 🙂

[2020-05-11 10:42] #97 closed

[2020-05-14 17:15] joelmukuthu opened #223 "allOf does not support $ref"
## 🐛 Bug Report

With `allOf`, a schema that is referenced via `$ref` gets stripped out of the stringified output.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

That `firstName` and `lastName` would be included in the output. Compare with the following where `$ref` is not used:

[code]

## Your Environment

- *node version*: 12.6.1
- *fast-json-stringify*: 2.0.0

[2020-05-14 18:50] mcollina commented on #223
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-05-14 22:45] joelmukuthu commented on #223
Sure thing. Would you mind jump starting me in the right direction, the
codebase looked quite cryptic at first glance earlier today.

On Thu, 14 May 2020, 8:50 pm Matteo Collina, <notifications@github.com>
wrote:

[2020-05-15 06:12] mcollina commented on #223
We should do something similar to https://github.com/fastify/fast-json-stringify/blob/c4fbf833cacf4a97a18f2d3b2217d9a4188dc030/index.js#L632 in https://github.com/fastify/fast-json-stringify/blob/c4fbf833cacf4a97a18f2d3b2217d9a4188dc030/index.js#L736.

I think we should pass through the definitions.

[2020-05-18 20:28] ahgentil commented on #223
I'm experiencing a similar issue that is probably related:

In my schema's "response":

[code]
This does not work.

[2020-06-06 11:27] joelmukuthu commented on #223
I've submitted [a PR](https://github.com/fastify/fast-json-stringify/pull/224) for this.

@ahgentil, I haven't tested it with actual code but it looks like `$ref` in `anyOf` does work. This test is already on master and passing: https://github.com/fastify/fast-json-stringify/blob/c4fbf833cacf4a97a18f2d3b2217d9a4188dc030/test/anyof.test.js#L252-L295

Consider creating a new issue with some code tha

[2020-06-07 10:16] #223 closed

[2020-06-09 10:17] davidebianchi opened #225 "Required property not set in properties"
## 🐛 Bug Report

A required property not set in properties is not checked also if set as required. This whether it is set with additionalProperties to true and to false.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

A clear and concise description of what you expected to happen.

I suppose this test should pass (ref of the required property here https://tools.ie

[2020-06-09 11:38] mcollina commented on #225
Looks like you found yourself a bug! I didn’t even thought that was valid 🤦‍♂️😅.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-06-10 14:07] ahgentil opened #238 "$ref to /definitions in same JSON Schema not working for serialization"
## 🐛 Bug Report

`$ref`s to `/definitions` in same JSON Schema work for validation but not for serialization - the 'absolute path' needs to be used instead.

I was not sure if this was a `fastify` issue or a `fast-json-stringify` issue, so I decided to post it here.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

$ref to /definitions in same JSON Schema to always

[2020-06-11 21:53] JaceHensley opened #227 "Fields with @ symbols that require a function to be generated are not supported"
## 🐛 Bug Report

When a field name contain the `@` symbol __AND__ the type requires a function to be generated (`array` and `object`) the function's name is invalid and results in `SyntaxError: Invalid or unexpected token`.

## To Reproduce

I use the following it works great!

[code]

But if that becomes an array or object it fails. It tries to create a function called `$main@id` which isn't vali

[2020-06-11 21:54] mcollina commented on #227
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-06-11 21:57] JaceHensley commented on #227
Yes I can! What do you think the fix should be? also would it be fine if I just added it to 1.x branch (since stable fastify is still on that)?

[2020-06-12 06:48] mcollina commented on #227
I'll forward port it.

[2020-06-12 08:51] mcollina opened #229 "Remove bad pattern from test suite"
## 🐛 Bug Report

Our test suite is full of:

[code]

This is totally unnecessary and it prevents our error to bail up. It should be replaced with:

[code]

[2020-06-12 10:01] #227 closed

[2020-06-12 10:01] mcollina commented on #227
Released on both lines

[2020-06-12 14:14] Eomm opened #230 "Mixed element in array"
##  🐛 Bug Report

Only the first item in `anyOf` is evaluated:

[code]

## To Reproduce

[code]

## Expected behavior

The output should be:

[code]

## Your Environment

- *node version*: 12
- *version*: 2.0.2

Maybe related with #179

[2020-06-12 22:16] #225 closed

[2020-06-22 19:03] #204 closed

[2020-06-22 19:48] artemruts commented on #230
I'll take a stab at this if no one minds 🙇

[2020-06-22 20:40] jsumners commented on #230
Go for it.

[2020-06-23 23:19] artemruts commented on #229
I'll take this one if no one minds, will propably write a codemod because there's a ton of `try-catch` in tests.

[2020-06-24 10:31] mcollina commented on #229
Go for it!

[2020-07-03 09:01] #230 closed

[2020-07-13 09:34] ahgentil commented on #238
Here's a test that does not pass:

[code]

[2020-07-13 10:03] mcollina commented on #238
Thanks!

[2020-07-13 11:43] jsumners commented on #238
Your reference should start with `#/` not with `/#/`. See https://json-schema.org/understanding-json-schema/structuring.html#using-id-with-ref

[2020-07-13 11:51] ahgentil commented on #238
Yeah, that's a typo.
My first example has it right.
If you remove it in the test it still fails.

[2020-07-15 09:36] paolochiodi commented on #238
I'm happy to give a look into this one.

[2020-07-16 13:12] paolochiodi opened #240 "Objects with only $ref not working as array items"
## 🐛 Bug Report

One can define schemas for a single item in an array. When doing so fast-json-stringify doesn't support using $ref.

I'm not 100% sure this is allowed by the json schema specification, but I've seen other tools supporting this (i.e. ajv).

## To Reproduce

Steps to reproduce the behavior:

[code]

This will result in error `undefined unsupported`

[code]

Note that defining the sc

[2020-07-17 13:27] paolochiodi opened #241 "Rewrite schema dereference to be explicit rather than a side effect of other functions"
## 🚀 Feature Proposal

This is not a regular feature request in that I'm not proposing a new external feature, but rather an internal rewrite.

Current code makes difficult to understand how schema is "dereferenced" (normalised?) because it mostly happen as side effect of functions doing other things.

I propose a rewrite to make the dereference happen explicitly as soon as build is called.
This i

[2020-07-17 13:36] paolochiodi opened #242 "fast-json-stringify mutates input schema"
## 🐛 Bug Report

`fast-json-stringify` mutates the schema passed as input when it contains `$ref`s.

I'm not 100% sure this could be considered a bug because the mutated schema is equivalent to the original one, but I guess this may be undesired in some contexts.

This follows from https://github.com/fastify/fast-json-stringify/issues/241

## To Reproduce

Steps to reproduce the behavior:

[code]

[2020-07-17 14:07] #238 closed

[2020-07-17 17:55] mcollina commented on #242
I think we should just do a deep clone of the incoming schema.

[2020-07-17 17:56] mcollina commented on #241
I agree, it would be a good piece of work!

[2020-07-17 18:30] paolochiodi commented on #242
If we decide to implement https://github.com/fastify/fast-json-stringify/issues/241 cloning may be unnecessary

[2020-07-21 18:45] westsuhanic opened #243 "Issue with required field"
<!--
## 🐛 Bug Report

If the required field is specified with two elements in the array, an exception is only thrown if the first element in the array is missing.

## To Reproduce

Steps to reproduce the behavior:

[code]
const fastJson = require('fast-json-stringify')
const stringifyOpSpec = fastJson({
  title: 'Schema for Operation Specification',
  type: 'object',
  properties: {
    a: {

[2020-07-21 18:50] #243 closed

[2020-07-21 19:16] mattbishop opened #244 "Support schemas defined in separate JSON files in TypeScript"
## 🚀 Feature Proposal

I am using external schema json files as recommended for fastify's route definitions as described here: https://www.fastify.io/docs/latest/TypeScript/#json-schema

However, when I attempt to follow the same pattern with fast-json-stringify, I get TypeScript compiler errors stating the imported json schema does not match the types in build.ObjectSchema. I have tried several w

[2020-07-21 20:03] westsuhanic opened #245 "Required array not being completely processed"
## 🐛 Bug Report

The required array is not being completely analyzed. If I specify that operation and length are required in a schema via the required field:

required: ['operation','length']

and I do not specify 'length', no exception is thrown. If I omit 'operation' then an exception is thrown as expected.

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

[code]

[2020-07-21 20:38] Eomm commented on #245
You have defined a `default` value for `length`, for this reason it is not throwing.

I think that code should not throw when `operation` is missing even, due the `default: NotSet`.. that seems a bug

[2020-07-21 20:57] mcollina commented on #244
Are you using this with Fastify?
Anyway, would you like to send a PR to support this?

[2020-07-21 20:58] mattbishop commented on #244
Yes with fastify 3.1.1.

[2020-07-21 21:00] mattbishop commented on #244
I'm not sure how to roll a PR for this, as the Schema types already defined
are nice and strict, whereas the one in Fastify is basically `unknown`.

On Tue, Jul 21, 2020 at 1:57 PM Matteo Collina <notifications@github.com>
wrote:

[2020-07-21 21:38] mcollina commented on #244
I don't really understand the issue. If you are using fastify, you should not be using this module directly.

Maybe @Ethan-Arrowood can help :)

[2020-07-21 21:47] mattbishop commented on #244
I'm using this lib to generate ndJson responses, so I have to convert my JS objects to strings directly.

[2020-07-21 21:48] Ethan-Arrowood commented on #244
JSON files imported via `import json from 'my-json-file.json'` will have their exact types implied by TypeScript. So the json

[code]

will be inferred as the type of `"foo"` to be `string`

[2020-07-21 21:51] mattbishop commented on #244
The JSON files I am importing are actually json-schema files, not JSON data files.

[2020-07-21 22:47] Ethan-Arrowood commented on #244
Json-schema is still json. The type will not be something generic like ObjectSchema, it'll be specific to whatever is literally in the json file. The `as ObjectSchema` is the correct casting.

[2020-07-22 08:12] mcollina commented on #244
So this can be closed?

[2020-07-22 13:26] mattbishop commented on #244
I see Ethans's point as well as understand that my use of this lib is a bit of an edge case anyways.

[2020-07-22 14:15] Ethan-Arrowood commented on #244
 @mattbishop you can look to use something like json-schema-to-typescript or typebox though if you want better type support for your json schemas. Both of those modules have different solution paths so I'd recommend you checkout which would most suite your needs.

If you have any other questions feel free to keep replying here; otherwise you can close the issue!

[2020-07-22 15:07] mattbishop commented on #244
I will close it here but I'm wondering if this might be a core fastify feature--schema for response bodies?

[2020-07-22 15:07] #244 closed

[2020-07-30 09:12] bgatellier opened #246 "OneOf between arrays of object with nullable fields that are null breaks the serialization"
#### You have already researched for similiar issues?

Yes, and mine is somewhat similar to this one : https://github.com/fastify/fast-json-stringify/issues/175

#### What are you trying to achieve or the steps to reproduce?

Context:

I am using fastify with default options.
I am using a schema to validate and serialize the output of my API endpoint.
This schema includes a `oneOf` between two arr

[2020-07-30 12:22] bgatellier commented on #246
Thanks for the quick answer.

I do not have time to submit a PR at the moment.

I hope I could do that later, but I can't promise anyhting :/

[2020-07-31 15:11] Eomm opened #247 "Mandatory items for type array - v1.x"
## 🐛 Bug Report

When the `type: array` doesn't have the `items` specified an error is thrown.

## To Reproduce

[code]

## Expected behavior

Not throws and based on the standard:

## Your Environment

- *node version*: 12
- *fast-json-stringify version*: >=1.21.0
- *os*: Mac, Windows, Linux

I will work on a fix

[2020-07-31 17:09] mcollina commented on #247
Is this a problem on v2 as well?

[2020-07-31 20:12] Eomm commented on #247
Nope, it works on v2.
I will add a test there if it is missing

[2020-08-05 07:17] #229 closed

[2020-08-06 10:32] JSteunou opened #253 "Validation issue with enum"
## 🐛 Bug Report

Fastify through an error if the validation schema contains an enum without enforced type.

[code]

## To Reproduce

1. add a route with this validation schema

[code]

## Expected behavior

no error at sever start

## Your Environment

- *node version*:  12.18.3
- *fastify version*: 3.1.1
- *os*: Linux
- *any other relevant information*

The only way to avoid this issue for now is

[2020-08-06 21:00] bburke4 opened #249 "null array value throws TypeError: Cannot read property 'length' of null"
## 🐛 Bug Report

When a null value is expected to be an array it throws `TypeError: Cannot read property 'length' of null`.

This looks very similar to: https://github.com/fastify/fast-json-stringify/issues/218

I love fast-json-stringify and fastify. Thanks a lot!

## To Reproduce

[code]
[code]

Putting the 'array' type in an array yields different results...
[code]

using `undefined` rather tha

[2020-08-07 09:54] jamieYou opened #250 "object properties support any type"
[code]
`obj.data` is a object, but properties is any。

Is it currently supported?

[2020-08-07 11:04] mcollina commented on #250
I do not understand the question.

[2020-08-07 11:15] L2jLiga commented on #250
As I understand you want to have object with any keys, if so then you can use [additional properties](https://github.com/fastify/fast-json-stringify#additional-properties) and if they can be any type then [anyOf](https://github.com/fastify/fast-json-stringify#anyof) can help.

[2020-08-08 13:21] mcollina commented on #249
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-08-10 15:23] fox1t commented on #250
Let me give it a shot to decipher this issue: @jamieYou are you talking about TypeScript `any`?

[2020-08-13 02:28] #250 closed

[2020-08-20 23:37] gabemeola opened #251 "Stringify fails with multiple defaults"
## 🐛 Bug Report

Stringifying fails when using multiple defaults + required.  This isn't the case when using AJV directly.
You can run it here: https://repl.it/@gabemeola/fast-json-stringify-default-issue

Removing `required` passes but isn't the intended schema.
Removing all but one `default` and `required` does pass as intended.
e.g.
[code]

## To Reproduce

Steps to reproduce the behavior:

[co

[2020-08-21 07:17] Eomm commented on #251
Yeah, it is definitely a [bug](https://runkit.com/embed/9n39lo3v797d)!

Would you like to send a Pull Request to address this issue?

[2020-09-05 08:41] Eomm commented on #253
Moved the issue as bug to `fast-json-stringify`: `enum` may not have the `type` property: [details here](https://github.com/fastify/fast-json-stringify/issues/253#issuecomment-670041345)

Here a snippet to reproduce the issue: https://runkit.com/embed/g2imhxqi00tb

[2020-09-06 17:22] #253 closed

[2020-09-07 10:18] JSteunou opened #255 "Failed building the serialization schema when it is a typebox object with an "any" type"
## 🐛 Bug Report

When using a valid schema with a property define as an `any` kind of type, `{}` in json schema (without enforced type), fastify just crash

## To Reproduce

Steps to reproduce the behavior:

Add a response schema with something like

[code]
note the absence of `type` for property `foo`

## Expected behavior

A clear and concise description of what you expected to happen.

[code]

[2020-09-07 10:20] JSteunou commented on #255
Very similar to #253

[2020-09-07 10:26] mcollina commented on #255
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-07 16:45] JSteunou commented on #255
I started to add unit tests and did not succeed to reproduce the issue.

After many times digging around, it seems the culprit might be the lib generating the schema, because using old trick like `JSON.parse(JSON.stringify(schema))` produce a valid schema with no fastify errors.

@fox1t it seems you are using the same library https://github.com/sinclairzx81/typebox did you ever encounter the same

[2020-09-07 20:20] Eomm commented on #255
Yes, we should manage this case as the issue you linked: when a type is missing the default should be `object` with `additionalProperties: true` (if is not defined)

To fix it you should remove the `enum` check from this #254 PR, you could take inspiration from that one to add new tests 👍

[2020-09-08 07:25] JSteunou commented on #255
@Eomm I might rename the issue title because like I said above I cannot reproduce the issue with unit tests with simple object because the issue is really tight to the use of [typebox](https://github.com/sinclairzx81/typebox)

The object created by *typebox* are complex. I could not tell if it is a bug or a feature but in some condition, not always, the schema object needs to be JSON stringify and

[2020-09-08 08:22] mcollina commented on #255
I would recommend to adjust the title and description of this issue with mentions to Typebox.

We do not claim to be compatible with I would recommend sending a PR with a fix and unit tests. There might be some checks that are missing, maybe a `hasOwnProperty` somewhere.

[2020-09-08 09:25] fox1t commented on #255
@JSteunou yes I am using it. That issue pops up when `type: ` is missing from the generated object. The more basic repro was to make and `enum`: typebox generate it without specifying the `type` since an `enum` can have as many types as it needs. This issue, however, it was fixed by @Eomm PR.

Speaking of this issue: can you make a repro repository that uses typebox so we can inspect the generated

[2020-09-08 09:29] JSteunou commented on #255
Yup I would try this in the day. Another thinking I just had is that input validation works, so ajv accept the schema as typebox object just fine. It is the serialisation part that made it crash.

[2020-09-08 09:43] fox1t commented on #255
Exactly. It is just a fast-json-stringify issue. We need to find it and fix it :)

[2020-09-08 13:46] JSteunou commented on #255
Here it is https://github.com/JSteunou/fast-json-stringify/commit/aa8272b5e58730ad6ed7136ab6e0f28c038fcb22 ;)

[2020-09-10 14:20] #251 closed

[2020-09-17 14:20] fox1t opened #259 "Empty object patternProperties throws "undefined unsupported""
## 🐛 Bug Report

This schema thorws `Failed building the serialization schema for ##route##, due to error undefined unsupported`
[code]
~The part that makes the package throwing is~
[code]
EDIT: after 1 hour of digging the actual part that is throwing is:
[code]

Because it searcheas for `type` property in ~`"^[a-z]{2}_[A-Z]{2}$": {}`~ default and doesn't find anything. In addtion to that
`"defaul

[2020-09-17 14:22] mcollina commented on #259
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-09-17 14:26] fox1t commented on #259
Sure. Any hints on where to look?

[2020-09-17 14:44] fox1t commented on #259
I am digging into this and this could be also a fastify issue. If so, I'll move this to the proper repository and add more info.

[2020-09-17 15:56] fox1t commented on #259
I am flagging this as invalid for the moment. I need more investigation on this.

[2020-09-18 08:22] fox1t commented on #259
Finally manage to debug this properly. I am leaving this comment both as a future reference and to find if this needs to be fixed.

This turned out to be a problem related to fluent-schema/fast-json-stringify interaction.

Fluent-schema adds a `$id: undefined` property when you pass an empty fragment (`.raw({}`) to `.prop(` and this additional prop makes https://github.com/fastify/fast-json-string

[2020-09-18 08:28] mcollina commented on #259
Yes, go for it. This seems legit.

[2020-09-18 09:22] #259 closed

[2020-09-19 22:05] lazharichir commented on #162
@abarre just wondering if you are facing the same issue with the latest `fastify` version (3.4.1)? (also cc'ing @Eomm)

This is the boilerplate:
[code]

And:

- 200 works
- 201 works
- 202 does not work
- 203 does not work

I use `fastify-oas` for the API specs and here is the result – 202 and 203 don't work because it seems `$ref` isn't accepted at the root as per this closed issue.

<img width="

[2020-09-25 21:47] artur-ma opened #261 "Pre stringified JSON"
## 🚀 Feature Proposal

Pre stringified JSON type, in case I already have stringified JSON that I want to interpolate in another object

## Motivation

Since this lib aims to optimize performance in cases when it really matters, I think it is good to save extra CPU time by prevent prsing and stringifying the JSON again.

## Example

in my code I have
[code]

current solution

[code]

proposed solut

[2020-09-26 01:29] jsumners commented on #261
I don't understand. You can't simply define `{ user: { type: 'string' } }`?

This library interprets spec compliant JSON Schema. See https://json-schema.org/. That spec does not specify a `{type: 'placeholder'}`.

[2020-09-26 07:33] mcollina commented on #261
Overall I would be ok with supporting an extension, as most libraries do. Doing this would give us a significant boost at it would safe a decoding/encoding cycle at the cost of safety, i.e. the resulting payload might not be following the schema.

I'm also not 100% of how I would design this API-wise, so maybe it would take a couple of iteration to finalize. Would you like to work on a PR?

[2020-09-26 11:04] artur-ma commented on #261
@jsumners

Plase see my example, I already have a JSON that is stringified, if I will put it in "string" field it will escape and and it would be string inside a json, but I want it as JSON inside JSON

example

[code]
// will result:
// '{"user":"{\\"id\\":\\"awsomeUserId\\",\\"name\\":\\"myName\\"}","posts_count":8}'
// but I want it to be:  '{"user":{"id":"awsomeUserId","name":"myName"}, "posts

[2020-09-27 08:44] Eomm commented on #261
As an option, there is the media type field: https://json-schema.org/understanding-json-schema/reference/non_json_data.html

Supporting

[code]
It Would not be standard (since media type works with strings type), but it seems clearer then `placeholder ` to me

Of course a plugin system would be even better

[2020-09-27 10:17] fox1t commented on #261
I am not sure that adding a new DSL is a good choice here :/

[2020-09-29 14:50] fox1t opened #262 "Top-level `oneOf` makes fastify crash during startup"
## 🐛 Bug Report

Top-level `oneOf` throws `undefined unsupported`.

## To Reproduce

This response schema throws the error:
[code]

## Expected behavior

No crash at fastify startup.

## Your Environment

- *node version*: 14
- *fastify version*: >=3.0.0
- *os*: macOS

[2020-09-29 15:02] mcollina commented on #262
Nice!

[2020-09-29 15:46] alemagio commented on #249
Hi, is anyone working on this?

[2020-09-29 15:51] mcollina commented on #249
Maybe yourself! :P

[2020-09-29 17:35] fox1t commented on #262
Any hints on how this could be fixed/implemented? I tried to look into this issue and I found that the code for handling allOf/anyOf/oneOf is only built when inside `properties` in `type === 'object'`.

What do you think could be the best approach?

[2020-09-30 08:27] mcollina commented on #262
This needs a biggish refactoring moving out that logic from `type === 'object'`

[2020-10-03 23:15] DanilaFadeev commented on #193
@mum-never-proud @mcollina Are any updates on this feature?

[2020-10-04 08:31] mcollina commented on #193
This needs somebody to work on it.

[2020-10-04 20:27] Eomm commented on #193
How could we know if an object could be a string or not without checking the `toString` function?

Because if we look at the `toString` function, the output would be:

[code]

Running `obj.toString() !=== "[object Object]"` doesn't seems a good answer for me since we could run the `toString` more than one and when not needed.

I think to solve this use case, a new `options` should be set by the us

[2020-10-04 21:34] mcollina commented on #193
typeof has the proper return value.

[2020-10-05 12:47] Eomm commented on #193
I don't understand.

In this case `typeof obj.user.toString === 'function'` would return `true` if the user is a string and if it is a JSON too

[2020-10-05 12:56] jsumners commented on #193
[code]

[2020-10-05 14:51] Eomm commented on #193
We should try because the dates follow the same flow

[2020-10-05 18:19] Eomm commented on #193
I tweak a bit and I'm opening a PR to explain better the case tho.

[code]

the user want to serialize `{ foo: value }` but `value` is an **object** with a **`toString`** function.
_This is fine if the user defines `type: string` since it is already coerced calling the `toString` function._

Now the user defines the type `type: [string, object]`.

How `fast-json-stringify` could choose when serial

[2020-10-06 07:39] mcollina commented on #193
For `type: ['string']`, we'd need to check `Object.prototype.hasOwnProperty.call(obj, 'toString')`.

[2020-10-14 15:50] #249 closed

[2020-10-21 08:30] #191 closed

[2020-10-21 16:37] #169 closed

[2020-10-23 15:37] thatsnotright commented on #255
We hit this issue with TypeBox, but as well by importing all the JSON schemas from https://github.com/axa-ch/json-logic-js/pull/4/files via fastify.addSchema and `
{
        schema: {
          body: { $ref: 'http://jsonlogic.com/schemas/json-logic.json' },
          response: GET_RESPONSE_SCHEMA,
        },
      },`

so it's not specific to typebox.

[2020-10-23 18:03] mcollina commented on #255
@thatsnotright this still need a PR to fix it :)

[2020-11-07 21:53] #178 closed

[2020-11-07 21:53] #179 closed

[2020-11-07 21:53] #186 closed

[2020-11-07 21:53] #221 closed

[2020-11-07 21:53] #240 closed

[2020-11-07 21:53] #241 closed

[2020-11-07 21:53] #245 closed

[2020-11-07 21:53] #247 closed

[2020-11-07 21:53] #261 closed

[2020-11-15 09:18] sinclairzx81 opened #271 "Schema with anyOf loses track of Symbols defined by the caller."
## 🐛 Bug Report

Hi, have stumbled across an unusual error related to `anyOf` and `Symbol` properties that may exist in the schemas passed on `fastJson(schema)`. The issue only seems to relate to `anyOf`, possibly related to specific handling of `anyOf` in `fast-json-stringify` where it's somehow its loosing track of the Symbol defined by the caller. Repro below.

Related Issue: https://github.com

[2020-11-16 21:32] Eomm commented on #271
This seems a bug!
We should ignore the `Symbol`, would you like to send a PR to fix it?

[2020-11-17 16:37] #271 closed

[2020-11-21 23:54] mattbishop commented on #178
I ran into this issue today, but indirectly via Fastify's get() options with a JSON Schema for the "200" response.

It is valid JSON schema to define no "properties" but to declare "additionalProperties" with schema. See https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.9.3.2.3

In my case, I am serializing HAL json documents, which contain a "_links" property with specific f

[2020-11-26 22:20] iMoses opened #274 "enum values are not handled well by the serializer"
## 🐛 Bug Report

When using enum in a json schema the serialization results turn string values in an array/object of chars.

## To Reproduce

https://codesandbox.io/s/fastify-2707-forked-47hkd

[code]

## Expected behavior

Should return the value of the enum without any modifications.

[code]

## Your Environment

- *node version*: 14
- *fastify version*: >=3.8.0
- *os*: Linux

[2020-11-26 22:28] mcollina commented on #274
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-11-26 22:30] iMoses commented on #274
I haven't investigated it enough to understand why this is happening.
I'll try to clear up time for it, but any input on where to look can be helpful here as i don't have too much free time on my hands :)

[2020-11-27 12:27] iMoses commented on #274
@mcollina I found the issue [here](https://github.com/fastify/fast-json-stringify/blob/master/index.js#L169) but i'm not sure how this should be handled.

Seems that `enum` is defined as an `objectKeywords` meaning it will be recognize as an object and that's why the string is breaking down. If moved to the `stringKeywords` array the problem is solved, but then it will only work in case the `enum`

[2020-11-28 09:29] mcollina commented on #274
See https://json-schema.org/understanding-json-schema/reference/generic.html#enumerated-values. It seems we should have some logic to detect the value at runtime and adapt accordingly, maybe using some deep equality logic.

[2020-11-28 09:32] Eomm commented on #193
Closing due merge

[2020-11-28 09:32] #193 closed

[2020-11-28 09:34] Eomm commented on #274
This is related to #254

The string is treated like and object and this can be improved 👍

[2020-12-16 12:00] L2jLiga opened #275 "Support "const" keyword"
## 🐛 Bug Report

fast-json-stringify throw error when trying to compile schema with `const` keyword:

undefined unsupported

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

Schema compiles successfuly

## Your Environment

- *node version*:  n/a
- *fast-json-stringify*: latest master
- *os*: n/a
- *any other relevant information*

[2020-12-16 12:10] mcollina commented on #275
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-16 20:58] Eomm commented on #275
What is expected?

An AJV validation with `const` would mean that the `foo` property if exists, it must be `bar` otherwise an error will throw an error

For serialization: should we throw an error if an existing property is not that `const` or force the value?

[2020-12-17 08:14] L2jLiga commented on #275
I think behavior should be same

[2020-12-17 08:17] L2jLiga commented on #275
I'm going to work on it today

[2020-12-17 18:02] #275 closed

[2021-01-05 16:17] Eomm opened #277 "Integer are not truncated"
## 🐛 Bug Report

This script:

[code]

Produces: `{"foo":1.2}`

## Expected behavior

A truncated integer: `{"foo":1}`

I think a rounding function could be provided as input aswell like:

[code]

Do you have any thought on this?

## Your Environment

- *fast-json-stringify*: 2.3.0

[2021-01-05 16:36] mcollina commented on #277
Go ahead and send a PR!

[2021-01-07 05:10] toddheslin commented on #271
@sinclairzx81 I've just tested this using Typebox and `fast-json-stringify` (via `fastify`) and found the following behaviour:

[code]

This now works with your PR above:
[code]

But this one doesn't:
[code]

Presumably because it's an Array of objects where one of the properties is the union of literals.

[2021-01-07 06:04] L2jLiga opened #279 "Typebox and `fast-json-stringify` - union doesn't work inside array"
@sinclairzx81 I've just tested this using Typebox and `fast-json-stringify` (via `fastify`) and found the following behaviour:

[code]

This now works with your PR above:
[code]

But this one doesn't:
[code]

Presumably because it's an Array of objects where one of the properties is the union of literals.

_Originally posted by @toddheslin in https://github.com/fastify/fast-json-stringify/issues/2

[2021-01-07 06:05] L2jLiga commented on #271
@toddheslin I've created new issue from your comment, #279

[2021-01-07 07:00] sinclairzx81 commented on #279
@Hi,

I've just submitted a PR that should resolve this https://github.com/fastify/fast-json-stringify/pull/280. Will need to wait on the `fast-json-stringify` maintainers to give the greenlight. Thanks for letting me know.

S

[2021-01-07 09:13] mcollina opened #281 "Move from var to let and const."
There are quite a few:

In the eslitnt results.

We should update the codebase, run the benchmarks and check for regressions.

[2021-01-11 04:32] jkirkpatrick24 commented on #246
I'm not sure this is actually a fast-json-stringify bug. Support for the nullable property in ajv [isn't enable by default](https://github.com/ajv-validator/ajv/issues/983). You need to explicitly turn it on as an option (as you have done in your example).

If you provide that option to fast-json-stringify when it is initialized, the above schema will work.

For example, this test passes:

[code]

[2021-01-12 10:07] #281 closed

[2021-01-14 17:54] gajus commented on #186
@mcollina how is no one addressing this issue?

[2021-01-14 17:56] jsumners commented on #186
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-01-14 18:00] mcollina commented on #186
I highly recommend to read the related issues. Essentially it's like this on purpose. Considering yarn and pnpm we might want to change this in the future and possibly drop long.js support.

[2021-01-14 18:07] gajus commented on #186
How would one write a test case for checking if long is a devDependency or a direct dependency?

[2021-01-14 18:19] gajus commented on #186
@mcollina I read the related issues. Where is it documented that `long` is an optional dependency and that it should be installed separately?

This could be just a documentation issue, but it was not clear when starting to use the module.

[2021-01-14 18:21] mcollina commented on #186
likely just a docs issue :)

[2021-01-14 19:34] gajus commented on #186
@mcollina We were discussing this in our team, and while we can ignore the warning, since this is optional dependency, it would be nice if you gave an option to control whether `long` is used.

So the code would look something like:

[code]

and since user opts-in explicitly to use `long`, the code rightfully should fail here if dependency is not available when requested.

[2021-01-14 20:02] mcollina commented on #186
that'd be great as a PR!

[2021-01-14 20:18] gajus commented on #186
https://github.com/fastify/fast-json-stringify/pull/284

[2021-01-15 07:49] #277 closed

[2021-01-15 09:09] sinclairzx81 commented on #279
@L2jLiga Hi, This issue should be resolved with PR https://github.com/fastify/fast-json-stringify/commit/400774ad5846e2545ca958a001a926e92e1860f9. Are you able to confirm your side? Also, cc @mcollina

[2021-01-15 09:14] #279 closed

[2021-01-26 09:22] sinclairzx81 commented on #255
@mcollina This issue should be resolved with the https://github.com/fastify/fast-json-stringify/pull/283 PR.

@JSteunou Are you able to test for this your side to confirm?

[2021-01-26 11:27] #255 closed

[2021-01-27 09:13] JSteunou commented on #255
@sinclairzx81 sorry not at the moment :(

[2021-02-02 22:59] CodingXD commented on #111
@mcollina I trying to pass an array of objects, but I'm only getting an empty array.
This is how the body schema looks like
[code]

[2021-02-03 21:55] Eomm commented on #111
Could you add a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)?

Without it, we are unable to help you.

[2021-02-03 22:07] CodingXD commented on #111
Sure, here it is
[code]

[2021-02-26 20:52] ucarion opened #287 "Support for JSON Typedef?"
## 🚀 Feature Proposal

Today, this package supports a subset of [JSON Schema](https://json-schema.org/). This feature proposal is for adding support for (the entirety of) [JSON Type Definition](https://jsontypedef.com/).

## Motivation

JSON Type Definition is an RFC that's rather similar to JSON Schema. Being able to support it in its entirety would be nice from a documentation and interoperabili

[2021-02-26 21:27] mcollina commented on #287
Would this pull in additional dependencies?

[2021-02-26 22:33] ucarion commented on #287
Would it be possible for us simply say that fastJson returns a function whose behavior is undefined if the input is invalid against the schema (or maybe just throws a generic "bad input" exception), at least if you're using the JSON Typedef mode?

That way, people who are validating inputs with JSON Typedef, and then use TypeScript in a sound way end-to-end don't have to pay for extra validation?

[2021-03-02 18:09] mcollina commented on #287
Ideally yes, as long as the complexity in the codebase stays in current levels (bugs are not really manageable already).

This is not clear. The only things that we are validating is the schema itself, which only effect start up time of an application. Or are you referring to something else?

This is not clear. We are not validating data.

[2021-03-06 09:26] Eomm opened #289 "oneOf with $ref mutate the schema"
## 🐛 Bug Report

The `oneOf` keyword is replaced with the schema

Causes https://github.com/fastify/fastify/issues/2901

## To Reproduce

[code]

## Expected behavior

`reusedSchema` should not change

## Your Environment

- *node version*: 12
- *fastify version*: >=3.10.0
- fast-json-stringify: 2.4.2

[2021-03-06 09:51] Eomm commented on #289
Found these comment on code:

https://github.com/fastify/fast-json-stringify/blob/8681de05b2cd73a014e4bf93cab6193ea1a7d06f/index.js#L1162-L1168

Not sure how to solve:

- `delete schema.$id` solve the (fastify) issue but it would mutate the external schema as well
- clone the external schema only if it has the `$id` keyword (in fastify all the external schemas have it)
- start a great rework where

[2021-03-06 10:20] mcollina commented on #289
How about we do a full copy when we enter `dereferenceOfRefs()`?

[2021-03-06 11:14] Eomm commented on #289
I think it could have trouble when there is a `$ref` inside an external schema, I can try 👍

[2021-03-06 16:55] ucarion commented on #287
Ah, yeah I see that now. My bad! I misunderstood what gets validated and when.

[2021-03-06 17:03] ucarion commented on #287
Actually, hold on, what about stuff like this?

https://github.com/fastify/fast-json-stringify/blob/8681de05b2cd73a014e4bf93cab6193ea1a7d06f/index.js#L774

I would call this validation, and it's validation performed within the generated code. Is this just an exception to the rule?

[2021-03-06 21:20] mcollina commented on #287
It's not spec compliant or aim to be. It does a few checks where it is sensible to do so and just that.

The two option with a missing field marked required are to ignore and throw.. and throw is the sensible option.

[2021-03-06 22:13] bluenote10 opened #290 "oneOf/anyOf doesn't seem to work with objects"
## 🐛 Bug Report

oneOf/anyOf doesn't seem to work with objects.

## To Reproduce

The following schema models a union type, i.e. in TypeScript terms:

[code]

[code]

Output:

[code]

## Expected behavior

Since both objects match the schema, both should be stringified.

## Your Environment

- *node version*: v14.16.0
- *fastify version*: 3.13.0
- *fast-json-stringify*: 2.4.2
- *os*: Ubuntu 18.04

[2021-03-07 01:16] mcollina commented on #290
Would you mind trying to add `type: 'object'` to both schemas?

[2021-03-07 07:20] bluenote10 commented on #290
Yes I did that as well before, but it didn't make a difference.

[2021-03-07 18:07] Eomm commented on #290
this schema works:

[code]

Defining the `type` beside the `anyOf` would conflict when your data could be an object or a string like:

[code]

[2021-03-07 18:42] bluenote10 commented on #290
Good catch, it makes certainly more sense without specifying `type` in the top level schema. I'm not sure where I got that from. So perhaps there is no need to support that.

I just did a quick check and ran

[code]

through the [online JSON schema validator](https://www.jsonschemavalidator.net/), which considers it valid against all schema drafts, but probably cannot verify such semantic violatio

[2021-03-07 21:00] mcollina commented on #290
I think this is a bug in this module: we should throw if we cannot deal with this ambiguity. Better of, we could handle it if it wasn't really hard.

The schema is valid JSON schema (we validate it on creation).

[2021-03-07 21:01] mcollina commented on #290
Would you like to send a PR?

[2021-03-07 21:34] bluenote10 commented on #290
Sure, I can have a look, but it may take a bit until I get to it.

[2021-03-08 12:56] SzHeJason opened #293 "Get working when AdditionalProperties is empty object"
## Bug Report
sinclairzx81/typebox#55

## To Reproduce
[code]

## Expected behavior

response data should can compile safely by [docs](http://json-schema.org/understanding-json-schema/reference/object.html)

[code]

## Your Environment

- *node version*: 12
- *fastify version*:3.13.0
- *os*: Mac

[2021-03-08 16:00] #289 closed

[2021-03-08 16:27] mcollina commented on #293
Fixed by #294.

[2021-03-08 19:15] #293 closed

[2021-03-09 00:57] kalda341 commented on #181
I am also having this issue.

[2021-03-09 04:10] L2jLiga commented on #181
Let's reopen this cause issue is still there and noone fixed it yet.

[2021-03-10 12:04] MetalMichael opened #299 "AdditionalProperties with method references causes invalid JSON "undefined""
## 🐛 Bug Report

When trying to serialize a class with `additionalProperties`, methods cause the serializer to output "undefined", which causes JSON parsing errors.

## To Reproduce

Create an object or class with a method property not included in the JSON schema, and try to serialize with `additionalProperties: true`.

[code]

## Expected behavior

Invalid properties not included in JSON. This se

[2021-03-10 17:02] #299 closed

[2021-03-12 07:36] Mika83AC opened #301 "Any plans to add support replacer functionality?"
Hello eveyone,

I'd like to know if there are plans to add the native JSON.stringifys replacer() functionality like:

`JSON.stringify(input, (key, value) => value instanceof Set ? [...value] : value)`

So it would also be possible to stringify objects which contains Set()s, Map()s, and so on.

Regards,
Michael

[2021-03-12 09:05] mcollina commented on #301
There aren't any plans to do so. That being said, I think it might be possible to add support for those natively to objects and arrays respectively.

[2021-03-12 09:05] mcollina commented on #301
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-03-22 11:56] mcollina commented on #287
@ucarion do you plan to work on this?

[2021-03-23 10:09] mcollina opened #306 "Benchmark against Ajv JTD serializer"
## 🚀 Feature Proposal

Add a benchmark against Ajv JTD serializer: https://ajv.js.org/guide/getting-started.html#parsing-and-serializing-json

[2021-03-23 10:10] mcollina commented on #306
cc @epoberezkin

[2021-03-24 18:07] epoberezkin commented on #306
I can do it in April - thank you @mcollina

[2021-03-26 11:49] mcollina commented on #306
Please write this against the `next`  branch, as it already Ajv v7.

[2021-03-26 17:24] astephens25 opened #308 "Schema compilation fails when referencing schema a second time"
## 💥 Regression Report

Compilation fails when referencing a schema a second time. This seems to occur only when there are multiple references in the "chain" and oneOf or anyOf itself contains references. Compilation of one schema with a reference works, but any subsequent attempts to compile a schema which references the same schema will be unable to resolve the references in the oneOf/anyOf.

I

[2021-04-02 10:48] lazharichir commented on #274
@iMoses facing the very same issue with my `enum` of strings without a type. Have you started anything on this issue? Keen to help.

[2021-04-02 10:57] mcollina commented on #274
Go for it!

[2021-04-09 02:57] aruniverse opened #314 "optional dependency long should actually be required"
## 🐛 Bug Report

I am using fastify in a repo with yarn v2 (berry) and using the zero-install feature which is stricter with dependency management.

During compilation i get the following error:
[code]

Saw `fast-json-stringify` was a sub dep of `fastify`
![image](https://user-images.githubusercontent.com/11051042/114121670-c3222300-98bc-11eb-9e4e-cb35175cd923.png)

I see you guys try to handle th

[2021-04-18 18:58] ajotaos opened #321 "Additional Items is not working"
## 🐛 Bug Report

The additional items modifier is causing the module to fail for tuples. AJV works with the schema but fjs fails with the same schema and data.

## To Reproduce

[code]

## Expected behavior

Expected the serialization to occur, but the `path` schema fails if `additionalItems` is `true` or `{ type: 'string'}`.

## Your Environment

- *node version*: v15.14.0
- *fastify version*:3.1

[2021-04-18 20:46] mcollina commented on #321
I have a feeling we never implemented this.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-04-27 17:41] KiraPC commented on #321
@mcollina Can this issue be closed by https://github.com/fastify/fast-json-stringify/pull/322?

@ajotaos Could you check now?

[2021-04-27 17:44] #321 closed

[2021-04-28 07:49] KiraPC commented on #274
@mcollina @Eomm

I'm trying to fix this issue.

After a minimum of debug, I figured out that reverting the changes introduced by https://github.com/fastify/fast-json-stringify/pull/254 the case described by this issue works, but also the tests introduced by Eomm in 254 works too.

So, do I'm missing something?

[2021-04-28 08:05] mcollina commented on #274
I will recommend you to open a PR, it's the simplest way to review a change.

Please add a new test to cover this case.

[2021-05-03 13:35] vesse opened #325 "oneOf with Date results to null"
## 🐛 Bug Report

`oneOf` with `"format": "date-time"` string results to `null` when given a native `Date` object

## To Reproduce

[code]

## Expected behavior

Test above includes expected behavior too

## Your Environment

- *node version*: 14
- *fastify version*: 3.14.2
- *os*: Mac
- Test above run with `master` branch of this repository

[2021-05-03 14:07] zekth commented on #325
Thanks for reporting this, same behavior is observed with `anyOf` . Could you send a PR for this?

[2021-05-03 21:01] #325 closed

[2021-05-04 04:52] vesse commented on #325
Wow thanks, that was fast.

[2021-05-15 09:18] Eomm opened #329 "rounding not working in properties"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.x

### Node.js version

14

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

The `rounding` options does not apply on properties `integer`s

### Steps to Reproduce

[code]

[2021-05-15 18:01] himanshu007-creator commented on #329
Hi, i would like to work on this issue. can you guide me in what changes need to me made?

[2021-05-15 23:31] mcollina commented on #329
In the code block linked above, you should call `$asInteger`.

[2021-05-18 18:37] mashpie opened #330 "Regression "oneOf with Date results to null""
## 💥 Regression Report

#325 "oneOf with Date results to null" seams to persist in 2.7.2 and up

## Last working version

Worked up to version: 2.7.1

Stopped working in version: 2.7.2

## To Reproduce

Steps to reproduce the behavior:

[code]

## Expected behavior

the snippet should report:

[code]

## Your Environment

- *node version*: 14
- *fastify version*: 3.15.1 but reproducable without an

[2021-05-18 19:33] zekth commented on #330
Thanks for reporting it. The test assertions were only on date-time not date. I'll take a look

[2021-05-19 07:33] #330 closed

[2021-05-21 19:16] Eomm commented on #329
Sorry if I wrote a PR, but I need this fix next week 😥

[2021-05-21 19:41] himanshu007-creator commented on #329
No problem, ⚡

[2021-05-21 22:35] #329 closed

[2021-05-25 14:02] cesarfd opened #333 "Integer properties are always stringified as 0"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.x

### Plugin version

2.7.5

### Node.js version

14.x

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.3

### Description

Version 2.7.5 introduced a bug where an integer property always end

[2021-05-25 14:31] mcollina commented on #333
I think this is an unwanted regression introduced by https://github.com/fastify/fast-json-stringify/pull/332. cc @Eomm

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-05-25 19:16] onbit-syn commented on #301
Hey, @mcollina,

I am a great fan of Fastify and now I am actively using it on my projects. Please assign this task to me. It will be my pleasure to be a part of such a great product and organisation.

I will also include unit tests. I like this issue and I really want to contribute to it.

[2021-05-28 06:55] #333 closed

[2021-06-23 04:47] diwic opened #338 "Webpack renames $asBoolean and friends, causing generated code to fail with "$asBoolean is not defined""
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.14.1

### Plugin version

_No response_

### Node.js version

14.17

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

I'm trying to package a fastify application with webpac

[2021-06-23 07:00] mcollina commented on #338
I would guess Webpack is minimizing your code and it shouldn't. Could you check how to disable that?

[2021-06-23 12:04] diwic commented on #338
Indeed disabling minimization like below fixes the issue:

webpack.config.js
[code]

...with the obvious drawback that minimization is now disabled.

Having had a look at the code, I believe the problem is the mix between functions and strings; i e, either let `$asBoolean` be a string in the first place:

[code]

or conistently use the value of `$asBoolean.name` instead of the string `'$asBoolean'

[2021-06-23 12:09] jsumners commented on #338
I would close this as unsupported.

[2021-06-23 12:37] zekth commented on #338
Can't you exclude `fast-json-stringify` using the minifier options? https://webpack.js.org/plugins/terser-webpack-plugin/#minify

[2021-06-23 13:35] diwic commented on #338
Unfortunately, it seems like this is impossible, according to https://github.com/webpack-contrib/terser-webpack-plugin/issues/31

[2021-06-23 18:35] mcollina commented on #338
I do not understand why this is a drawback for Node.js servers.

---

Anyhow, I'm happy to review a PR that fixes this. I can't guarantee it to be landed - it mostly depends if it reduces our benchmarks or if it makes our code more brittle.

[2021-06-23 19:00] diwic commented on #338
The software runs on an embedded device.
First, the embedded device might not have internet access, so we can't run "npm i" or something like that (that's why we need webpack in the first place).
Second, the bandwidth to the embedded device might be slow (think 3G or 4G mobile link), so minimization matters.
Third, in case a competitor/hacker/etc gets his hands on a device we gain a little bit of

[2021-06-24 13:03] #274 closed

[2021-06-24 13:03] #205 closed

[2021-06-25 07:19] #338 closed

[2021-07-16 16:51] stalniy commented on #290
same issue on my side, trying to serialize

[code]

And I get :

[code]

[2021-07-16 17:04] stalniy commented on #290
is there any support for discriminated union types?

[2021-07-17 08:44] Eomm commented on #290
As a general rule, I suggest running the [debugMode](https://github.com/fastify/fast-json-stringify#debug-mode) whenever there is some issue to understand what is going on.

Debugging a bit your gist with this feature I found:

- if you change the schema removing the `type`, the serializer function output would be fine.
this is a bug in FJS and it would be great if you would like to fix it (ignore

[2021-07-17 19:16] rustyconover opened #342 "When no schemas of a oneOf schema element match null is returned rather than raising an error."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.1

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.4

### Description

Assume using Fastify, there is a response schema for

[2021-07-17 20:26] MSE99 commented on #342
`fast-json-stringify` is more of a serializer it doesn't and shouldn't do a lot of validation work, users who want to validate their inputs must do so before passing it to fjs.

I think it should have returned an empty array instead of an array with null in it.

[2021-07-17 21:42] rustyconover commented on #342
Hi @MSE99,

Thanks for getting back to me. You're right `fast-json-stringify` is a serializer, but in this case its completely violating the schema that its output is supposed to follow.

In the case of `oneOf` handling, `fast-json-stringify` is actually validating each possible schema (using Ajv) that is part of the oneOf specification to determine which one to use, so in this case it actually is

[2021-07-17 22:33] Eomm commented on #342
For this purpose exists this plugin https://github.com/fastify/fastify-response-validation

I agree that FJS should return an empty array in this case: we are avoiding introducing a `cannot serialize` error since it would be a validation phase that was not designed in the module

[2021-07-19 10:58] ilteoood commented on #181
Same problem here!

[2021-07-26 04:10] joaopedrocampos commented on #342
Hey @Eomm! If possible I would love to try this fix 🙏.

Just a question to understand what is the expected result on this case, using the issue example:

[code]

If the stringified schema is
[code]

What should be the expected result?
[code]
or (with just the valid value)
[code]

[2021-07-26 11:55] Eomm commented on #342
Go for it!

 I think the "data": ["foo"] is more correct as you find out! 👍🏼

[2021-08-18 06:54] SleepWalker opened #350 "Error when resolving nested schema refs by id ({"$ref": "#foo"})"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.20.2

### Plugin version

_No response_

### Node.js version

v14.16.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.2

### Description

`refFinder` fails to find a `$ref` by `$id

[2021-08-18 07:06] mcollina commented on #350
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-08-18 08:49] Eomm commented on #350
Note that we must follow the [Draft 07 spec](https://datatracker.ietf.org/doc/html/draft-handrews-json-schema-01#section-8.2)

Your example has a fragment `$id`, so a root `$id` is needed (or we should apply the default as explained in the spec).

[2021-08-19 13:40] SleepWalker commented on #350
@Eomm I can not get whether it is valid to use definitions deeper in scheme (see `#/properties/nested/definitions`).

[code]

[This](https://www.jsonschemavalidator.net/) validator does not allow such usage, but [this](https://jsonschemalint.com/#!/version/draft-07/markup/json) allows

The spec does not state where it is allowed to put `definitions`

---

Another one thing is that theoretically I

[2021-08-19 15:27] Eomm commented on #350
It is a matter of their implementation, I don't know what those are using under the hood so it is hard to understand..
I may guess:

- the schema with the `nested` property is a Draft 7 one, so the first validator could misunderstand the spec you are using

<details>
  <summary>I have tried to update the spec here</summary>
  It won't works as well

[code]
</details>

The `definitions` can be plac

[2021-08-20 09:59] Eomm commented on #242
Reopening as I hit this issue today

it could be related to
https://github.com/fastify/fast-json-stringify/issues/308

[2021-08-26 08:00] weiyuan1993 opened #355 "Missing 'format' property type in the type definition"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure it has not already been reported

### Fastify version

I only use fast-json-stringify
fast-json-stringify 2.7.8

### Plugin version

I only use fast-json-stringify
fast-json-stringify 2.7.8

### Node.js version

12.16.0

### Operating system

Windows

### Operating system version (i.e.

[2021-08-26 12:54] #355 closed, assigned to nobody

[2021-09-20 09:25] hayoola commented on #178
I also ran into this issue, and I'm sure that is part of the standard (https://cswr.github.io/JsonSchema/spec/multiple_types/)

[2021-10-10 21:19] #306 closed

[2021-10-18 03:41] kingyyy commented on #181
same here version 2.7.10

[2021-11-01 22:19] simonsinclair opened #365 "Recursive references in object types result in maximum call stack size exceeded"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

14.18.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

11.5.1

### Description

My Fastify server returns JSON that looks like

[2021-11-01 23:11] mcollina commented on #365
Would you like to send a PR to implement this?

[2021-11-02 15:43] simonsinclair commented on #365
I can certainly give it a shot, @mcollina. I will have to familiarise myself with the code first. Would you be happy to describe how you might implement this?

[2021-11-02 16:07] mcollina commented on #365
Check out https://github.com/fastify/fast-json-stringify/pull/363, this seems similar but for objects.

[2021-11-03 02:03] jlefever commented on #365
I am also encountering this bug with a similar tree-like schema. I'm surprised this issue wasn't discovered before. In the meantime, I disabled schema validation for this route (by just using `"type": "object"` instead of a reference to my recursive schema.)

[2021-11-09 00:40] simonsinclair commented on #365
Please take a look at https://github.com/fastify/fast-json-stringify/pull/366 and let me know what you think.

[2021-11-10 08:32] #365 closed

[2021-11-22 03:14] laozhu commented on #365
I have the same problem with this kind of json schema, I defined the schema with [typebox](https://github.com/sinclairzx81/typebox).

[code]

complied to below:

[code]

❌ then I got the error response.

[code]

If I changed the `dictValueSchema` to Type.Any(), everything is ok.

[code]

✅ I got the correct response.

[code]

[2021-11-22 07:57] mcollina commented on #365
It's a different problem as this one referred to references. Could you open an issue? Ir you'd like to work in it as well it would be great.

[2021-11-22 17:26] LEVI-RIVKIN opened #368 "allOf withing $ref within allOf is ignored"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.0

### Plugin version

_No response_

### Node.js version

14.17.3

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

When trying to use an `allOf` within a `$ref` wh

[2021-11-22 19:20] mcollina commented on #368
Good finding!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-24 14:53] laozhu opened #370 "Define nested `Type.Object` in `Type.Record` with typebox result in maximum call stack size exceeded error."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.24.0

### Node.js version

17.0.1

### Operating system

macOS

### Operating system version

macOS Monterey 12.0.1

### Description

Define nested `Type.Object` in `Type.Record` with [typebox](https://github.com/sinclairzx8

[2021-11-24 14:55] laozhu commented on #365
Sorry, I searched here, I open a new issue #370

[2021-11-24 14:57] mcollina commented on #370
Good FInding! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-24 15:00] laozhu commented on #370
@mcollina OK, hoping I can figure out it and solve it 😄

[2021-11-25 06:28] Vibhaa5 commented on #370
Hey, I'm new to the community. Can I get this issue to work on ??

[2021-11-25 08:26] mcollina commented on #370
@laozhu are you working on this?
@Vibhaa5 Go for it it @laozhu does not fix it before you ;).

[2021-11-25 14:24] laozhu commented on #370
@mcollina not yet, a little busy today
 Hoping @Vibhaa5 can fix it soon.

[2021-12-23 13:52] #368 closed

[2022-01-14 17:45] Eomm commented on #290
No: it is a OpenAPI keyword and fast-json-stringify requires a JSON Schema Draft 7

[2022-01-14 19:32] michael-melodyarc commented on #290
Sorry, to clarify, it's not that I need support for the `discriminator` keyword specifically, but rather that keyword uses `oneOf`, and since the `discriminator` keyword requires `type` set at the top level, it hits this bug where it simply returns an empty object in serialization.  Bumping the type down into the `oneOf` subschemas fixes it, but then `ajv` throws warnings/errors by default since t

[2022-01-15 13:38] mattbishop opened #379 "v3.0.0 leaks memory"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

2.7.13

### Stopped working in version

3.0.0

### Node.js version

16.13.2

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.1

### 💥 Regression Report

I have been using fast-j

[2022-01-15 13:44] Eomm commented on #379
clinicjs will help you debugging this:

https://clinicjs.org/documentation/heapprofiler/

[2022-01-15 15:44] mcollina commented on #379
It's kind of impossible to help with this without a way to reproduce the problem you are facing. Could you create a small server that reproduce your problem?

[2022-01-15 17:21] mattbishop commented on #379
Thanks for the clinic suggestion. I’ll run clinic  benchmark with both 3.0.0 and 2.7.13 and compare the results to find a way to produce a test.

—
Matt Bishop

[2022-01-15 20:09] mcollina opened #380 "We forgot to drop support for Node v10 and v12 when releasing v3.0.0 of this module"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

We should rectify this asap, this is part of the fastify v4 release train.

[2022-01-16 03:05] mattbishop commented on #379
Clinic can’t measure benchmark’s runs. I resorted to using node -trace_gc with benchmark and saw some differences in GC between 3.0.0 and 2.7.13 but no smoking gun.

I’ll go back to my app and see what I can do to narrow it down there. The difference between the two versions is immediate. Load tests run forever with 2.7.13 but crash within a minute on 3.0.0. GC shows the newer version, garbage is

[2022-01-16 08:12] mcollina commented on #379
How are you using this module? You should work to create a minimal, reducible example of your leak just with a simplified case so that we can help.

Note that heap profiling show you what function is allocating this much and what kind of data is leaking.

[2022-01-17 09:38] #380 closed

[2022-01-17 09:51] climba03003 commented on #379
Since the major change from `3.0.0` is updating `ajv@6` to `ajv@8`.
I am thinking are we suffering from this issue https://github.com/ajv-validator/ajv/issues/1413

We may need to identify a new way to initialize the `ajv` instance.

[2022-01-17 10:04] climba03003 commented on #379
https://www.poberezkin.com/posts/2021-02-11-ajv-version-7-big-changes-and-improvements.html#caching-compiled-schemas

I think it can be confirmed the issue should be related to how we use `ajv`.

https://github.com/fastify/fast-json-stringify/blob/89c63a6c6bf537d97e34e25a3baf8d1527a2ff4f/index.js#L878
https://github.com/fastify/fast-json-stringify/blob/89c63a6c6bf537d97e34e25a3baf8d1527a2ff4f/inde

[2022-01-17 10:44] mcollina commented on #379
Good spot! Looks like we should definitely fix this.

It seems this function is _really_ incorrect too: https://github.com/fastify/fast-json-stringify/blob/89c63a6c6bf537d97e34e25a3baf8d1527a2ff4f/index.js#L88-L107.

I think the solution should be to move the `JSON.stringify(location.schema)` elsewhere and just keep the references around. We could use the same logic we used for https://github.com/

[2022-01-17 11:44] MSE99 commented on #379
@mcollina I wrote that function, at the time it was a hack to get around  `ajv` throwing if a schema is compiled twice with the same id, I'm sorry. a better solution would be to load all schemas at build time using `ajv.addSchema(schema, key)` we would use the `$id` value of the schema as the `key` argument if the schema does not have an `$id` we could generate one using `crypto.randomUUID()`, thi

[2022-01-18 09:49] #379 closed

[2022-01-21 17:46] m-ronchi opened #384 "Recursive schema definition causes infinite recursion"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.0

### Plugin version

_No response_

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

10.15.7

### Description

if I try to use a schema with a recursive definiti

[2022-01-22 21:19] Adibla commented on #262
It seems to be fixed in [1c6b4da08f84a8daf7579595ec9263aa75d92c52](https://github.com/Adibla/fast-json-stringify/commit/1c6b4da08f84a8daf7579595ec9263aa75d92c52)

[2022-01-22 21:20] #262 closed

[2022-01-22 21:20] mcollina commented on #262
thanks!

[2022-01-23 16:49] Eomm commented on #384
Move the issue.

Using the schema in a better way solve the issue:

[code]

Feel free to send a PR to manage these use cases.

[2022-01-24 18:03] m-ronchi commented on #384
unfortunately, it doesn't work with
[code]

it still gives me `FastifyError: Failed building the serialization schema for GET: /, due to error Maximum call stack size exceeded`

[2022-01-24 18:14] Eomm commented on #384
Because you need to clean you object too removing this line

[code]

[2022-01-24 18:33] m-ronchi commented on #384
I did it and it only works when the `$ref` is the entire schema (your example). if it is nested (my code), it throws

[2022-02-02 22:44] Eomm opened #386 "Support schema 2020-12"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Support the JSON Schema 2020-12 draft standard:

- https://json-schema.org/draft/2020-12/release-notes.html
- https://json-schema.org/specification-links.html#2020-12

I would try to list in this issue the TODOs to com

[2022-02-03 09:23] mcollina commented on #386
This is going to be a massive feature. What are the fundamental differences? I'm happy to loosely support all specs at the same time, i.e. just add the missing fields.

[2022-02-08 01:23] andyburke opened #388 "Valid JSON Schema not working for null-able response"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

_No response_

### Node.js version

14.x

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

When trying to define a GET request that can retur

[2022-02-09 21:44] #370 closed

[2022-02-11 08:44] mcollina commented on #388
@Eomm why is it a good first issue? I'd not have a clue on how to fix this in Fastify.

[2022-02-11 19:23] andyburke commented on #388
@matthyk FWIW, this "type as an array" comes from the JSON Schema way of specifying these. Not sure how that impacts fast-json-stringify.

[2022-02-12 07:14] aircloud opened #391 "In som cases returns null which makes it difficult to locate the error. may should throw the error"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

## Fastify version

3+

## Description

Recently, I'm using fast-json-stringify in some frameworks and projects (e.g. https://github.com/aircloud/fst-json: auto-generate JSON schema by typescript)

But I found a bad experience, such as

[2022-02-12 08:48] mcollina commented on #391
The argument looks valid, I think we should throw in that case.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-02-12 09:21] aircloud commented on #391
Let me think about how to do it better

Because the change here is likely to be a breaking change

For `anyof`,  if  throw an error directly, it is likely to cause problems in the previous user's code

For example, it is reasonable for the following code to return null:

[code]

but it shares the same logic with the above example

[2022-02-19 13:28] ronag opened #393 "Avoid leading and trailing {}"
I'm trying to optimise tracing to esc.

Currently I'm doing something like this:

[code]

This works exceptionally well. However, I do have one unfortunate perf bottle neck. The. `slice(1, -1)` where I have to remove the leading and trailing {...}. I assume that fast-json-stringify causes V8 to flatten the string prior to this which is a bit unfortunate.

Is it possible or would it make sense to a

[2022-02-19 14:17] zekth commented on #393
Is it possible yes, would it make sense? For most of the use cases no. But you're pointing an interesting topic.
Currently what's the structure of the object you're trying to stringify? Is there any specific reason for not having those trailing braces?

[2022-03-10 21:19] matthyk opened #397 "randomUUID is not a function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

PR #382 introduces the `randomUUID` function from the `crypto` package. The problem is that this function was only added with Node version 14.17. If you use FSJ now with an older node version you get the error `randomUUID is not a funct

[2022-03-10 21:25] mcollina commented on #397
Which version of fastify are you using? Which version of fast-json-stringify are you using?

[2022-03-10 21:35] matthyk commented on #397
I was working directly with fast-json-stringify (version 3.0.3). I tried to compile this schema:
[code]

When using Node version `>=14.17` no error occurs, but when using Node version `<14.17`, I get the error `randomUUID is not a function`.

[2022-03-10 22:15] jsumners commented on #397
CI for this project is set to test on the latest LTS release lines. That means it is only supported on the latest version of 14.

[2022-03-11 07:39] Eomm commented on #397
Adding an `$id` to the schema should workaround your issue:

https://github.com/fastify/fast-json-stringify/blob/2b055fad32d46fc12148be85248d89f75d28406c/index.js#L849

[2022-04-01 14:39] Jnig opened #401 "Possible serialization bug with null converted to empty string"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.4

### Plugin version

_No response_

### Node.js version

14.19

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Arch

### Description

Hi,

I'm using fastify with a response schema, whi

[2022-04-01 14:49] climba03003 commented on #401
I think your assumption of this module is wrong. It is a serializer, not validator with serialize feature.
It should try it's best to match the requested schema.

[2022-04-02 05:19] Jnig commented on #401
That makes sense - thanks for clarifying

[2022-04-02 05:19] #401 closed

[2022-04-16 15:06] aruniverse commented on #314
Bump

[2022-04-18 06:11] samchon opened #405 "Schema doesn't consider the `toJSON()` method"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.1.0

### Plugin version

_No response_

### Node.js version

16.6.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 11

### Description

If there's a class who've defined the `toJ

[2022-04-19 04:32] samchon opened #406 "`$ref` doesn't understand the `nullable` option"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.1.0

### Plugin version

_No response_

### Node.js version

16.6.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 11

### Description

To represent such hierarchical data, I've

[2022-04-19 05:43] climba03003 commented on #406
Your example is not correct for using external schema.
There is no option called `external`.

If you need something that is `null`, you should not pass it in.
[code]

[2022-04-19 05:53] climba03003 commented on #406
The problem seems to be not merging the schema with `$ref` schema. It is not limited to `nullable`, but all the properties that trying to override the `$ref` schema.

[2022-04-19 06:00] samchon commented on #406
Thanks for fast response. I hope it to be fixed.

[2022-04-20 02:47] samchon opened #407 "Made a wrapper library who needs `only one line`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

I love performance tuning and also love this `fast-json-stringify` library in the same reason. I really appreciate you that supporting such beautiful and powerful library as open source. I have even tried to evangelized this wonderful l

[2022-04-20 21:35] mcollina commented on #407
Amazing work! I didn't know TS could do that. How can we help?

[2022-04-20 23:40] samchon commented on #407
The implementation has been already finished and I will just follow this library's update. Thanks for providing this wonderful library.

[2022-04-21 00:45] samchon commented on #407
I need to optimize my library whether to use any type or exact json schema considering the generic argument. However, which type is effect, it has already been posted on your README article. Really thanks.

[2022-04-21 06:17] #407 closed

[2022-04-22 08:42] climba03003 commented on #406
We decided to follow the `JSON Schema 4-7` and do not allow the flexible usage described in `JSON Schema 2019-09`.
So, this current result is correct since the property is not allow to override.
You can check the detail start from https://github.com/fastify/fast-json-stringify/pull/408#issuecomment-1106078468

[2022-04-22 08:42] #406 closed

[2022-04-22 09:19] samchon commented on #406
Got it. I've to define the duplicated object type for each nullable and not nullable case.

I should keep below code for forever.

https://github.com/samchon/typescript-json/blob/abf3866d32b0aa86e2de471d62e681ca57fc8813/src/factories/MetadataFactory.ts#L166-L178

[2022-04-24 14:21] Eomm commented on #405
I think this would be a good feature, it would fix the `Date` object too.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-24 16:14] samchon commented on #405
There's no problem when the JSON method returns another object type. The problem only occurs only when the returned type is not object like an atomic value type or array type. In nowadays, making an wrapper library [typescript-json](https://github.com/samchon/typescript-json) and considering purpose of the `fast-json-stringify`, I think this is not a bug, but just a spec.

When the compiled JSON s

[2022-04-24 16:14] #405 closed

[2022-04-27 12:29] sinclairzx81 opened #410 "Recursive Schema - Cannot locate inline $id references"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

fast-json-stringify@3.1.0

### Plugin version

n/a

### Node.js version

16.13.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

Hi. I'm currently looking at recursive

[2022-04-27 22:58] #287 closed

[2022-04-27 22:58] #308 closed

[2022-04-27 22:58] #384 closed

[2022-04-27 22:58] #386 closed

[2022-04-27 22:58] #391 closed

[2022-04-27 22:58] #393 closed

[2022-04-27 22:58] #397 closed

[2022-05-02 23:14] aruniverse commented on #314
Bump

[2022-05-03 02:02] climba03003 commented on #314
There is no `long` as dependency anymore.

[2022-05-03 02:02] #314 closed

[2022-05-03 22:28] jonnydgreen commented on #242
I've hit a similar schema mutation issue when providing an external schema through the `fast-json-stringify` options while using `fastify-swagger`. With the following test definition, I would expect the original `$ref` definitions to be preserved in the OpenAPI schema output, but after a bit of digging, it looks like they are being resolved by `fast-json-stringify` mutating the external schema whe

[2022-05-04 06:44] mcollina commented on #242
I'm just afraid that all this cloning would lead to massive churn on memory. Anyway I'm afraid it's the only option.

[2022-05-04 07:44] jonnydgreen commented on #242
Makes sense, I'll take a look!

[2022-05-04 10:36] sinclairzx81 commented on #410
@mcollina Hi, this issue should be resolved by https://github.com/fastify/fast-json-stringify/pull/411. I may be able to take a look at the related issue https://github.com/fastify/fast-json-stringify/issues/384 in a subsequent PR in a few months time.

[2022-05-04 10:45] #410 closed

[2022-05-04 10:48] climba03003 commented on #410
You can link to the issue when you use the below keyword in PR description. It will automatically close the linked issue when the PR merged.
- close
- closes
- closed
- fix
- fixes
- fixed
- resolve
- resolves
- resolved

For example: `Resolved #410`

[2022-05-04 10:48] sinclairzx81 commented on #410
@climba03003 Thanks :)

[2022-05-12 16:52] bmenant opened #412 "Returns "[object Object]" when toJSON() returns a non object type (e.g. string, number)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.4

### Plugin version

_No response_

### Node.js version

v16.14.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

5.17.5-200.fc35.x86_64

### Description

From what we’ve seen so far,

[2022-05-13 01:56] samchon opened #413 "Top level `oneOf` always generates the `$asAny` function"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.2.0

### Plugin version

_No response_

### Node.js version

16.6.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

When `oneOf` property being used in the top level,

[2022-05-13 06:17] climba03003 commented on #413
I think it is something achievable by updating here.

https://github.com/fastify/fast-json-stringify/blob/22cfffbc38e813afde426d4e01072d7c1c5081b5/index.js#L154-L156

You can take reference of
https://github.com/fastify/fast-json-stringify/blob/22cfffbc38e813afde426d4e01072d7c1c5081b5/index.js#L1253-L1328

[2022-05-13 08:00] mcollina commented on #413
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-23 12:03] samchon opened #417 "Complicate JSON schema causes the `MissingRefError`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.2.0

### Plugin version

_No response_

### Node.js version

16.13.2

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 11

### Description

When extremely complicated JSON schema co

[2022-05-23 12:54] mcollina commented on #417
Wow,
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-24 04:22] samchon commented on #417
Succeeded to reproduce the bug by much shorter code.

I'll send a PR with below code:

## TypeScript Code
[code]

## Compiled Code
[code]

## Console Output
[code]

[2022-05-24 04:52] samchon commented on #413
@mcollina Added unit test, but I don't know how to fix the bug.

[2022-05-24 04:52] samchon commented on #417
@mcollina Added unit test, but I don't know how to fix the bug.

[2022-05-25 20:42] jsumners opened #428 "Replace `moment` with `luxon`"
https://github.com/fastify/fast-json-stringify/blob/03f8714fc2412c3e46cb7bbb947e316cad0681bc/package.json#L42

`moment` is considered to be in "maintenance mode" https://momentjs.com/docs/#/-project-status/

Until `Temporal` is available, `moment` should be switched out for `luxon` https://moment.github.io/luxon/#/

[2022-05-26 11:37] ivan-tymoshenko opened #431 "Ignore invalid number value"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Now, if number/integer value is invalid, it will be skipped. Is that expected behavior?

[code]

[2022-05-26 12:29] jsumners commented on #431
If I recall, it _is_ expected. There's no way to represent `undefined` in JSON and using any other value to indicate failure is ambiguous at best.

[2022-05-26 12:57] RafaelGSS commented on #431
I think it should be compliant with other types. In that case, returning `null`.

[2022-05-26 13:37] ivan-tymoshenko commented on #431
What about throwing an error if someone sent something that we can't convert to the number?

[2022-05-26 14:27] jsumners commented on #431
I cannot recall the decision made previously. If that is what other invalid values do, then this one should do the same.

[2022-05-26 17:08] ivan-tymoshenko commented on #431
@jsumners I think there was taken a few different decision for different cases. It's better to think about it again considering all cases.

The general question is what should we do if we can't convert input type to schema type. This applies not only to numbers, but now we are talking only about them.

There is at least three different ways to deal with it, I found in the code.

[code]

1) Ignorin

[2022-05-27 11:02] mcollina commented on #431
I think having a consistent behavior is important. I'm ok for throwing.

I don't want this to become a validator - as the same time I can see we need to be consistent.

[2022-05-28 08:50] #431 closed

[2022-05-29 12:48] ivan-tymoshenko commented on #325
Can we reopen this issue. #326 fix will work only with top level date/time fields. And works not efficiently. It serialize datetime value twice.

[code]

[2022-05-31 08:15] #428 closed

[2022-06-01 10:07] ivan-tymoshenko opened #450 "Matching type order"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

There are some places where we need to match the type before serializing the data: oneOf, anyOf, and when the type property is an array. The problem is that matching the types is not always mutually exclusive.

Here is the first problem

[2022-06-01 10:41] climba03003 commented on #450
it should actually break when the first one match. the order is important in serialization.

[2022-06-01 10:50] ivan-tymoshenko commented on #450
We need to declare somewhere that the order is important in this case.

[2022-06-01 10:54] ivan-tymoshenko commented on #450
Another unclear case. If I define a typed property it will always coerce the value to the defined type, if I add another type, coercion will not work.

[code]

[2022-06-01 13:14] climba03003 commented on #450
In my point of view, `array` of `type` should behave like `oneOf`.

[2022-06-01 13:21] ivan-tymoshenko commented on #450
`oneOf` has the same issue. It doesn't coerce type by default.

[2022-06-01 13:25] climba03003 commented on #450
Yes, because `oneOf` really means one of the array.
If non of them is match, then the input do not match what this user want.

But, it can be `coerce` by enable the `ajv` ` coerceTypes` option. It will always `coerce` to the first matching type.

[2022-06-01 13:26] ivan-tymoshenko commented on #450
So this is the correct behavior? https://github.com/fastify/fast-json-stringify/issues/450#issuecomment-1143448071

[2022-06-01 20:30] filipomar opened #452 "Can't resolve reference that is defined on schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.2.0

### Plugin version

_No response_

### Node.js version

18.0.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

22.04

### Description

While attempting to serialize some complex json a

[2022-06-01 21:11] mcollina commented on #452
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-10 03:18] jsumners commented on #412
Please do not use abbreviations without spelling them out first. It is not clear what you are saying here.

I'm not sure your object is adding the `toJSON` method in the correct location. It should be the top-level object that implements that method. The following code returns the same JSON for both stringification methods:

[code]

[2022-06-10 10:38] bmenant commented on #412
Sorry, my bad! I (wrongly) thought Domain-driven design (DDD) and Data transfer object (DTO) were well-known abbreviations. I’ve updated the description.

Your answer is a valid alternative indeed (and certainly advisable to enforce strong separation of concern in every domain boundary).

However, the native `JSON.stringify` is recursive (minus the circular references errors) and, as far as I know

[2022-06-10 10:38] #412 closed

[2022-06-10 10:43] ivan-tymoshenko commented on #412
@bmenant I hope this issue gets resolved by #424. We need to add some changes before that.

[2022-06-10 19:49] climba03003 opened #459 "breaking `fastify` standalone error serializer build"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

3.0.1

### Stopped working in version

4.0.0

### Node.js version

*

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

*

### 💥 Regression Report

I think it related to the refactor

[2022-06-10 19:51] climba03003 commented on #459
I recommend we provide a function for `standalone` mode.

[2022-06-10 19:55] ivan-tymoshenko commented on #459
I'm sorry. There is a lack of tests here, so it's easy to break something. I will take a look at this.

[2022-06-10 20:33] ivan-tymoshenko commented on #459
@climba03003 I took a quick look at this problem. #423 didn't break it. The restore function compiles stringify function from debugCompiled but never from debugCompiled.toString().

https://github.com/fastify/fast-json-stringify/blob/b57abf1e927c5906c70f8c0d9cb140def4332f9b/test/debug-mode.test.js#L47

[2022-06-10 20:38] climba03003 commented on #459
It breaks because of multiple of PR.
`fastify` build script is actually building a standalone code which the `debug` mode should do.

`Serializer` is never exported, so no matter how I modify and match the current implementation of `debug` mode.
It will never be success.

[2022-06-10 20:40] climba03003 commented on #459
Nevermind, I created a PR for the `fastify` use-case.
https://github.com/fastify/fast-json-stringify/pull/460

[2022-06-10 21:40] #459 closed

[2022-06-17 00:51] conioX opened #465 "BigInt Problem"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.0.0

### Plugin version

4.2.0

### Node.js version

14.00

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 11

### Description

Hi Guys

I found a problem when use fastify with pr

[2022-06-17 01:15] jsumners commented on #465
BigInt does not support serialization to JSON.

[2022-06-17 05:12] climba03003 commented on #465
We should handle `BigInt` according to the `README.md`.

https://github.com/fastify/fast-json-stringify/blob/12fa1e90a27a27abfcce5be3adac55de208795d3/README.md?plain=1#L148-L152

[2022-06-17 17:16] #465 closed

[2022-06-19 03:12] samchon opened #467 "Empty spaces make JSON string conversion faster"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

https://github.com/samchon/typescript-json/tree/v3.0

As you know, I've developed a wrapper library of this `fast-json-stringify`, which can perform by only one line. In nowadays, I'm trying to upgrade the JSON string conversion functio

[2022-06-19 10:24] mcollina commented on #467
Good finding! Have you got a benchmark demonstrating this?

[2022-06-19 12:07] mcollina opened #468 "Release plan for the Ajv reference fix"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Here is my proposal for the release of https://github.com/fastify/fast-json-stringify/pull/462:

1) ship fast-json-stringify v5 with the above change as a precaution.
2) release fast-json-stringify-compiler with https:

[2022-06-19 12:10] Eomm commented on #468
Yes, it is.

Just to be sure: will the `fast-json-stringify-compiler` release a major as well?

[2022-06-19 12:11] mcollina commented on #468
Yes

[2022-06-19 12:12] climba03003 commented on #468
Good to me. It is easy to revert in `fastify` when it has large impact.

[2022-06-19 16:06] jsumners commented on #468
Go for it.

[2022-06-19 17:03] ivan-tymoshenko commented on #468
PR at Fastify, where it all comes together. Now via git-dependency. https://github.com/fastify/fastify/pull/4049

[2022-06-20 02:22] samchon commented on #467
Used same program with you (`benchmark`):

  - Spaced: 1,491 / s
  - Non-spaced: 989
  - `typescript-json-stringify`: 847
  - Native `JSON.stringify()`: 100

[2022-06-22 14:05] #350 closed

[2022-06-22 14:05] #452 closed, assigned to nobody

[2022-06-22 14:05] #417 closed

[2022-06-22 15:22] #468 closed

[2022-06-23 15:39] #242 closed

[2022-06-26 02:48] samchon opened #474 "`Infinity` and `-Infinity` value must be `null`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

5.0.0

### Plugin version

_No response_

### Node.js version

18.4.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

https://github.com/fastify/fast-json-stringify/iss

[2022-06-26 11:41] mcollina commented on #474
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-06-26 13:02] samchon commented on #474
Looking at the $asNumber function, it is throwing error when NaN comes.

In the same reason, may I throw an exception when infinite value comes?

[2022-06-26 19:15] mcollina commented on #474
go for it!

[2022-06-27 15:34] samchon commented on #474
Oops, already be done. Great.

[2022-06-27 15:34] #474 closed

[2022-06-27 20:55] yaki3355 opened #477 "Infinity and -Infinity value must be null when schema as number and throw an exception when schema as integer"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

5.0.2

### Plugin version

_No response_

### Node.js version

16.14.2

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

#

### Steps to Reproduce

[code]

-------------

[2022-06-28 09:18] #477 closed

[2022-06-28 09:19] yaki3355 commented on #477
#478

[2022-06-29 01:38] smonn opened #479 "Schema that worked in v4 no longer works in v5"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

5.0.3

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

I encountered this error after upgrading to Fastify v4.2.

[2022-06-29 08:01] #479 closed

[2022-06-29 10:30] ivan-tymoshenko opened #481 "Ajv validation inside allOf"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

There is a fastify issue https://github.com/fastify/fastify/issues/4092
I reduced the test example.

[code]

I'm working on that.

[2022-06-29 10:53] climba03003 commented on #481
Will it be fixed by https://github.com/fastify/fast-json-stringify/pull/480

[2022-06-29 10:54] ivan-tymoshenko commented on #481
@climba03003 No, it's a different issue.

[2022-06-29 11:01] ivan-tymoshenko commented on #481
This problem happens when we add a schema that contains `allOf` property to the Ajv, and then we merge `allOf` and use json pointer that doesn't contain `allOf`.

[2022-06-29 11:53] ivan-tymoshenko commented on #481
@climba03003 It turns out that #480 fixed this, despite the fact that they are different problems. #480 has a small bug. I fixed it here #482.

[2022-06-29 13:21] smonn commented on #481
FWIW, I think I encountered this issue too while using a schema similar to this (observed in 5.0.4, unrelated to #479):

[code]

[code]

[2022-06-29 13:26] ivan-tymoshenko commented on #481
Does it work with this fix?

[2022-06-29 14:58] #481 closed

[2022-07-05 11:09] gudleik opened #487 "nullable doesn't work in schemas using format and anyOf"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.0

### Plugin version

5.0.6

### Node.js version

16.15.1

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

When schema contains both a nullable property with format

[2022-07-05 11:32] ivan-tymoshenko commented on #487
It will be fixed by #484. I've added the test.

[2022-07-06 13:00] giovanni-bertoncelli opened #488 "Cannot use 'in' operator to search for 'maxProperties' in true error while using Draft-07 official meta schema"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.1

### Plugin version

_No response_

### Node.js version

14

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

macOS Monterey 12.4

### Description

I'm trying to validate a route respons

[2022-07-06 13:33] giovanni-bertoncelli commented on #488
@mcollina Sorry, I've no idea how to fix this...

[2022-07-06 14:29] Eomm commented on #488
You are looking for [@fastify/response-validation](https://github.com/fastify/fastify-response-validation)

fast-json-stringify is not a validator (it is a serializer) and it supports a Draft-7 subset.
So it won't throw an error when the schema is invalid, it will just ignore the unknown fields.

In any case, I think the metaschema should be supported by fjs, so there should be a bug here

[2022-07-08 06:14] #487 closed

[2022-07-11 08:55] #488 closed

[2022-07-13 12:17] tzelon-cypator opened #491 "JSON Schema serialize BigInt to string"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

4.1.0

### Stopped working in version

4.2.0

### Node.js version

16

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.3.1

### 💥 Regression Report

Before version 4.2.0 respons

[2022-07-13 14:05] pvanagtmaal opened #492 "`toString` existence check on objects does not work using Object.hasOwnProperty if the object is a class instance"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.1

### Plugin version

5.1.0

### Node.js version

18.4.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### Description

The generated code for creating strings from objects check

[2022-07-13 14:11] mcollina commented on #492
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-07-13 15:50] pvanagtmaal commented on #492
PR added

[2022-07-14 11:02] pvanagtmaal commented on #492
The changes made in the PR were correct but there was some discussion about supporting these kind of objects at all. I'm leaving this to someone else, feel free to close if you see this as a wontfix.

[2022-07-14 12:14] jsumners commented on #492
The bug exists. It just needs to be solved in a generic way. Taking your ball and going home because you don't like the feedback is a poor way to interact.

Anyway, the code below shows the actual bug and the cause. It also shows that the code in this repo is incorrectly referencing `Object.hasOwnProperty` instead of `Object.prototype.hasOwnProperty`. Note, I do not think this is the right solutio

[2022-07-15 11:15] Galienna opened #494 "Fastify - Do not know how to serialize a BigInt at JSON.stringify"
I could not have guessed that would have worked at all. Our support to BigInt is limited to integers: https://github.com/fastify/fast-json-stringify/blob/4d990f660bca9c3b3eb98f086a04c80ade428277/test/bigint.test.js.

I think something must be added in https://github.com/fastify/fast-json-stringify/blob/967bacfa248dde27550ea8fd5f3cebeb4e45b171/serializer.js to bring that back.

Would you like to se

[2022-07-24 17:02] Jesbjerg opened #495 "no schema with key or ref"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the regression has not already been reported

### Last working version

4.0.2

### Stopped working in version

4.2.0

### Node.js version

16.15.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.4

### 💥 Regression Report

Anchors are not supported

[2022-07-24 17:41] mcollina commented on #495
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-07-24 19:43] ivan-tymoshenko commented on #495
@Jesbjerg Thanks for your report. The part of the reference that starts from the # is used to define the JSON pointer (path inside the JSON schema). You shouldn't use # in your $id properties. I think this is a similar discussion https://github.com/fastify/fastify/discussions/3965.

You see this issue in the oneOf/anyOf case because this is one of the cases when we get the schema by schema $id.

I

[2022-07-24 20:24] Jesbjerg commented on #495
@ivan-tymoshenko I don't know if we have a good reason for having written our schemas like this, or if changing it has major implications. If it is non-standard to put # into $id's - maybe we should go look for an alternative approach. I want to check with my colleague tomorrow. Thanks for the quick response.

[2022-07-24 20:24] #495 closed

[2022-07-30 21:53] #388 closed

[2022-07-31 14:41] #342 closed

[2022-08-02 20:52] #246 closed

[2022-08-03 09:38] fauh45 opened #501 "BigInt serialization error on Integer and Null union type"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

_No response_

### Node.js version

6.16.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

elementary OS 6.1 Jólnir (Ubuntu 20.04.3 LTS)

### Description

Using typ

[2022-08-03 11:03] climba03003 commented on #501
I think the problem based on `ajv` do not know how to deal with `BigInt`.

[2022-08-03 11:24] fauh45 commented on #501
Isn't there a BigInt serializer to Number on fastify-json-stringify though?

[2022-08-03 12:09] climba03003 commented on #501
When using `anyOf` (`Type.Union`), the data will validate through `ajv` first.

[2022-08-03 12:14] fauh45 commented on #501
Ahhh I see how it is, so the culprit here are `ajv`

[2022-08-03 18:42] mcollina commented on #501
I don't think we can ever fix this without some Ajv support. Maybe we should document this caveat?

[2022-08-03 18:46] ivan-tymoshenko commented on #501
@mcollina I guess we can do the same thing as we have done for js Date object #441.

[2022-08-03 18:55] mcollina commented on #501
Actually yes, we can!

[2022-08-03 18:55] ivan-tymoshenko commented on #501
Actually, I was about to write a post/issue about the whole validation situation. In short, we use the same syntax of schema to describe how to serialize data (with type coercion, it's important) and to validate the same data. Here we have some inconsistency problems: date type (already fixed), bigint, regexp, etc. Don't have a lot of time due to the war, but I will try to publish it when I finish

[2022-08-03 19:09] Uzlopak commented on #501
Can you make a list of needed data type validators?

[2022-08-07 10:14] DanieleFedeli opened #502 "Worse performance with response schema when 'const' keyword is used"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.3.0

### Plugin version

_No response_

### Node.js version

16.13.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

13.0

### Description

When specifying the response schema with 'const'

[2022-08-07 14:12] Uzlopak commented on #502
How is the performance if we also use type: "string" or if we use enum instead of const?

[2022-08-07 14:20] DanieleFedeli commented on #502
With type string

[code]
<img width="765" alt="Screenshot 2022-08-07 alle 16 18 25" src="https://user-images.githubusercontent.com/37077048/183295181-9b4c6a90-9e1f-4e37-9f50-e461bc3aeed6.png">

With enum

[code]
<img width="741" alt="Screenshot 2022-08-07 alle 16 20 00" src="https://user-images.githubusercontent.com/37077048/183295248-813cde28-b707-45ee-b029-089ca21a7399.png">

It improves drastic

[2022-08-07 15:21] climba03003 commented on #502
I would say it is expected.
When the `type` is not defined and `const` is exist, `FJS` need to guess whether the content is meet is schema or not.
So, it went through `ajv` for the guessing and it is expected to be slow in this case.

https://github.com/fastify/fast-json-stringify/blob/d14112bc2f35771e42404a0f419d51adacf3bea0/index.js#L869-L874

[2022-08-07 15:41] Uzlopak commented on #502
But i can determine the type of const before i use it in ajv. So do we have to improve the docs or should we write a function which traverses the entries for const and determines the corresponding type?

[2022-08-08 01:19] RafaelGSS commented on #502
+1 to mention it in the docs and open a new fresh issue to optimize it as we can.

[2022-08-20 19:05] adrai opened #506 "possible performance impact when updating from v4.2.0 to v5.0.0"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

Hi!

Today I was doing some dependency updates for my fastify apps, when I noticed a bigger InitDuration for my AWS Lambdas.
To have an idea my [await app.ready()](https://github.com/fastify/aws-lambda-fastify#lower-cold-start-latency)

[2022-08-20 19:32] ivan-tymoshenko commented on #506
@adrai Hi, thank you for your report. In the commit, you mentioned we changed the way of resolving schema references because the former way to do it hasn't covered all use cases. We saw that it has some performance downgrade on cold start (reference resolving happens only in compile time), but it wasn't so dramatical https://github.com/fastify/fast-json-stringify/pull/462#issuecomment-1160007003.

[2022-08-20 20:10] adrai commented on #506
Just created an example repo... https://github.com/adrai/fastify-slower-schema-resolving

[2022-08-20 20:25] mcollina commented on #506
You have _a lot_ of schemas loaded indeed.

[2022-08-20 20:26] adrai commented on #506
And in reality there are even more 😉

[2022-08-20 20:29] Uzlopak commented on #506
Are there any unit tests breaking when we use refFinder instead of ajv.getSchema?

[2022-08-20 20:38] ivan-tymoshenko commented on #506
Yes, there were actually a few attempts to fix them, but it was complicated, so we ended up using Ajv for it.
Check https://github.com/fastify/fast-json-stringify/pull/462

[2022-08-21 07:56] adrai commented on #506
fyi: https://github.com/adrai/fastify-slower-schema-resolving/pull/1

[2022-08-21 08:39] ivan-tymoshenko commented on #506
I have a suspicion that it's not refFinder that takes a lot of time, but cloning and adding schemas in Ajv.

https://github.com/fastify/fast-json-stringify/blob/f8bdac3dd398f87159431c1ec721516888aca4ac/index.js#L89
https://github.com/fastify/fast-json-stringify/blob/f8bdac3dd398f87159431c1ec721516888aca4ac/index.js#L118

[2022-08-21 08:42] Eomm commented on #506
I'm working on the standalone feature because I belive this is the best approach on the long run and it was a while since I had this in mind (moreover this should be the fastest solution with tangible results).

[2022-08-21 08:44] Uzlopak commented on #506
Doesnt ajv use internally a weakmap?